[2011-08-13 09:06] adamstac opened #3 "Review: new `modular-scale-classes` mixin"
Hey Scott,

I'm glad Mason got the function in place cause that let me get to this mixin a bit faster. I can see someone defining a scale and using the new [modular-scale-classes](https://github.com/scottkellum/modular-scale/blob/master/stylesheets/_modular-scale.sass#L41) mixin to generate a range of classes to `@extend`. I've built in support for setting the class slug as well as setting the pro

[2011-08-14 07:54] adamstac commented on #3
Ok, now we are an official Compass extension with an updated readme as well :) I pushed [the gem](https://rubygems.org/gems/modular-scale) to RubyGems as well.

[2011-08-17 04:15] codingdesigner commented on #3
I added some arguments to the modular-scale-classes mixin to give you the ability to control it as precisely as the other mixin and functions.

[2011-08-19 13:48] scottkellum opened #7 "defaults that allow easy user override."
It is more important to allow the user to set the defaults, but I understand the importance of defaults being baked in. The nature of the cascade makes this hard to do as a standalone file.

[2011-08-19 13:55] scottkellum opened #8 "dual base-sizes instead of dual ratios"
Tim's modular scale uses dual base-sizes instead of dual ratios.
http://modularscale.com/

Playing around with dual ratios the ratio closer to 1 usually takes precedent over the more extreme ratio.

We can either re-write it so that we support multiple base-sizes or support both multiple base-sizes and multiple ratios. The logic required will grow exponentially if we choose to support both.

Mason

[2011-08-19 14:02] scottkellum opened #9 "Explore ways to refine logic"
Figure out ways to consolidate and refine logic. Building support for exponents may help here. Seems like the calculation loop can be written in once and pulled in as needed.

[code]

[2011-08-19 14:03] scottkellum opened #10 "Depreciate original mixin"
Seems superfluous now to have both the function and original mixin. The function is far more versatile and is easier to write.

[2011-08-19 14:10] scottkellum commented on #3
Looks good. I think we can close this now.

I think we need to look into the usability of the multiple ratios vs base sizes now: [issue 8](https://github.com/scottkellum/modular-scale/issues/8)

[2011-08-19 14:10] #3 closed, assigned to scottkellum

[2011-08-19 15:07] codingdesigner commented on #7
Ahh, just did some testing on this. You can set default values before defining the function or mixin like we had before, but the problem you found was an error in the example sass file. The were setting new !default values, but were being ignored. The solution is to just set a new value to the variable. Like so:

## _modular-scale.sass

[code]

## example.sass

[code]

This solves the problem. I'l

[2011-08-19 15:25] codingdesigner commented on #8
yeah now you mention it I realize I flipped it around. To be honest I kind of like this logic better so I'm reluctant to toss it. It's more "musical", like building chords of increasing complexity. But I do like both approaches.

### To your first point:

What's happening is that all the values are calculated for each ratio, and then all of them are sorted into numeric order. If the two ratios are

[2011-08-19 15:26] codingdesigner commented on #9
Yes. We'll need this. Or something like it if we decide to support multiple base-sizes.

[2011-08-19 15:30] codingdesigner commented on #10
I think you're right. I was thinking it was there for people who are more comfortable with mixins, but that's kind of a crutch, right?

[2011-08-19 15:33] scottkellum commented on #10
Functions are better, they should learn them. Lets get rid of it.

[2011-08-19 15:34] scottkellum commented on #8
Awesome. I will probably have time Sunday to dig into at least refining the logic for this.

[2011-08-19 15:42] codingdesigner commented on #8
I may be able to carve a little time into my day today for a pass at this, otherwise I'll be able to work on it this weekend too.

[2011-08-19 16:44] codingdesigner commented on #7
pushed some code:
- add default values back. fix the redeclared defaults in the test sass file
- organize the example sass file
- removing the duplicate test html and css. Went with the server version because I find it useful, and because that's the way the config.rb file was set up

[2011-08-19 16:50] scottkellum commented on #7
nice, why use .html.erb though?

[2011-08-19 16:50] #7 closed, assigned to nobody

[2011-08-19 17:59] codingdesigner commented on #7
mostly because it was working with Serve. I think its moderately helpful while developing. not a dealbreaker for me if you feel like simplifying that tho.

[2011-08-19 18:05] scottkellum commented on #7
ah, that makes sense. We can leave it as-is for now but in the long run I would like everything as bare-bones simple as possible.

[2011-08-21 04:49] codingdesigner commented on #9
I just committed a pass at this. I needed to do it before working on the multiple $base-size value. code review welcome

[2011-08-21 04:57] codingdesigner commented on #8
Upon further reflection, I don't thing the central number should be 0. If we did that then every ms(-1) would be a negative number, and it would be unintuitive and unpredictable how many $multiples it would take to get a similar result than if you're using a single $base-size.

I'd like there to be a similar mental model for using single or multiple $base-size values.

Therefore I think I'll base

[2011-08-21 16:43] scottkellum commented on #9
revised exponents. now all you need to do is write the following to do the calculation bits:

[code]

function here:
https://gist.github.com/1160816

No more splitting up positive and negative multiples. I just need to integrate and push.

[2011-08-21 18:30] scottkellum commented on #8
Your sorting logic is a bit beyond me ;)

I cleaned up the calculation logic though, while adding exponents to Sass, which may be helpful outside of the modular scale. https://github.com/scottkellum/modular-scale/blob/sk-dev/stylesheets/_modular-scale.sass

Going to clear my head, then come back to this but feel free to jump back in. Definitely your area of expertise.

[2011-08-22 03:45] codingdesigner commented on #8
I just committed a working version with support for multiple base sizes and/or multiple ratios. There's a lot of repeated code that I needed to keep it straight in my head while writing so I haven't committed it to master. I'm going to clean that up and try to integrate your new exponent logic.

https://github.com/scottkellum/modular-scale/blob/mult-base/stylesheets/_modular-scale.sass

[2011-08-22 03:46] codingdesigner commented on #9
this looks nice and clean. I'm trying to wrap my head around it. As soon as I do I'll try integrating my new work and this.

[2011-08-22 05:54] codingdesigner commented on #8
Alright. The latest commit has all the features and permutations working for me, and I've cleaned up the code to make it more readable. I added examples to the example sass too. It's late. I'll look at this tomorrow, and would welcome a code review when you get a chance.

Nice work on that exponent function btw. That's really smooth stuff!

[2011-08-22 13:53] scottkellum commented on #8
Nice! This is looking really amazing.

[2011-08-22 13:53] #8 closed, assigned to codingdesigner

[2011-08-22 13:54] #9 closed, assigned to scottkellum

[2011-08-23 06:04] adamstac commented on #10
If we do, don't forget that the classes mixin uses this https://github.com/scottkellum/modular-scale/blob/master/stylesheets/_modular-scale.sass#L208

[2011-08-23 06:10] adamstac opened #11 "0.0.3 released :)"
`0.0.3` is out there: https://rubygems.org/gems/modular-scale

And we did a write up on The Sass Way: http://thesassway.com/projects/modular-scale

[2011-08-23 13:05] scottkellum commented on #11
Awesome, I was trying to push that out yesterday but didn't have the authority :)

Thanks!

[2011-08-23 13:05] #11 closed, assigned to nobody

[2011-08-23 13:07] scottkellum commented on #10
I was about to delete it but then saw the classes mixin and the regular mixin next to each other. Might as well leave it in as they have a lot of similarities.

[2011-08-23 13:24] scottkellum opened #12 "documenting exponents"
As a side effect of the new calculation logic, an exponent function is built in.

exponent(5, 3) is a way of calculating 5^3=125

I guess it can go in a new section of the readme, but it doesn't seem to fit with the rest of the modular scale stuff.

[2011-08-23 14:14] codingdesigner commented on #10
It's still a bit vestigial. I'm still thinking of taking it out, and rewriting the classes mixin accordingly. Should be a pretty simple change.

[2011-08-23 14:18] adamstac commented on #10
Yea, the classes mixin can get re-written accordingly to use the function instead.

[2011-08-23 14:18] codingdesigner commented on #12
Probably the best place to document this within the modular scales project is in a comment block above the function. Eventually the proper home for generic functions like that might be in a library like Compass.

[2011-08-23 14:48] codingdesigner commented on #10
I went ahead and deprecated it. For now running the mixin will send a warning to the console, but still work.

[2011-08-23 14:49] adamstac commented on #10
Which brings up a topic we should mention for extension devs, when to use @debug and @warn.

[2011-08-23 14:51] scottkellum commented on #10
So many new things to learn.

[2011-08-23 14:53] codingdesigner commented on #10
good point. I'd love to draft something on that. I'd be lost w/o @debug

[2011-08-23 14:56] adamstac commented on #10
I have a start to a guide on if, for, each, while that has some uses of this in the code samples but nothing that dives into the subject. Take a peek at the read lists and feel free to add to them :)

[2011-09-02 15:12] #10 closed, assigned to nobody

[2011-09-23 14:28] agileapricot opened #13 "Error on including scss"
I get the following error when simpliy including an @import to  'modular-scale.scss';

![error](http://dl.dropbox.com/u/497583/screenshots/SCSSerror.png)

[2011-09-23 14:39] scottkellum commented on #13
Make sure you are running the latest version of Sass. That error can occur on versions before writing of lists was supported.

[2011-09-23 14:46] agileapricot commented on #13
Hi. I installed the gem instead and that works for me. I am running sass 3.1.7.

Off topic a bit but what is the easiest to output a list like this one? So I can see the potential sizes I can choose from given my set of values?

http://modularscale.com/scale/?px1=16&px2=300&ra1=1.618&ra2=0

Awesome gem btw. I was about to write my own but it wouldn't have come close to this.

[2011-09-23 14:46] codingdesigner commented on #13
Thanks for finding this. We develop using .sass primarily and it looks like there were some errors in converting it to .scss.

I've just made an update here in the repo to make a fix. Try using this new version, and let us know if you still have problems.
https://github.com/scottkellum/modular-scale/blob/d133d1c0e44c9cac0154b5fbf62eaf169046ab5b/stylesheets/_modular-scale.scss

[2011-09-23 14:52] codingdesigner commented on #13
The only way I know of to output a list is to use  @debug, which show's it's output in the terminal.

@debug ms(1)
@debug ms(2)
etc

[2011-09-23 15:00] scottkellum commented on #13
Should we just include the .sass version for now? If the syntax is actually holding this back, most people are going to be linking this file not editing it.

[2011-09-23 15:10] codingdesigner commented on #13
I'm actually leaning towards just including scss. :) My personal preference is for sass, but compass and many other gems are using scss so I'm leaning that way for consistency's sake.

[2011-09-23 15:52] agileapricot commented on #13
New error with the updated file i'm afraid. Btw I was wrong about the gem working for me, I was looking at the wrong bit. It wasn't working.

![New error](http://dl.dropbox.com/u/497583/screenshots/newerror-mc.png)

[2011-09-23 15:58] codingdesigner commented on #13
Ahh, Same problem as before, but I had I missed a couple other empty lists. I think I have them all now.
https://github.com/scottkellum/modular-scale/blob/master/stylesheets/_modular-scale.scss

[2011-09-23 16:11] agileapricot commented on #13
Great. That works a treat :)

[2011-09-23 16:40] #13 closed, assigned to codingdesigner

[2012-04-23 01:58] JoeCianflone opened #14 "Dead project?"
Wondering if this is dead because there seem to be a couple of issues and no work as been done on this project
1.  There is no scss file
2.  There is no template folder so nothing gets copied into your project

[2012-04-23 13:02] scottkellum commented on #14
Not dead, just kind of done.

1) We had both Sass and SCSS originally but @canarymason and myself prefer the Sass syntax. There are some issues when including both files in Compass so I removed SCSS.

2) You will need to explicitly include modular-scale yourself in projects.

On the issue of being “done” we will update it when new features to Sass/Compass are introduced that will make this better.

[2012-04-23 13:02] #14 closed, assigned to nobody

[2012-04-23 13:08] scottkellum opened #15 "$base-size 16px or 1em instead of 14px"
The default $base-size is currently 14px. The browser default is usually 16px.

Should we re-evaluate this default? 1em or rem is also a good candidate. Rem would be ideal because it IS the actual base font size but there isn’t enough browser support.

[2012-04-23 14:22] codingdesigner commented on #15
14px is arbitrary. I like Rem, but I don't think it's time to support it. I think we should set it to 16px. It's much easier to convert px to ems than the other way around when the context shifts.

[2012-04-23 14:58] scottkellum opened #16 "Push new gem"
Adam, can you push the new gem? Can you also add @canarymason and I so we can push new gems?

Thanks!

[2012-04-23 14:58] scottkellum commented on #15
done: https://github.com/scottkellum/modular-scale/commit/39e2bc1d36fdbd91b7cb1663d9bd57e401cf909c

[2012-04-23 14:58] #15 closed, assigned to nobody

[2012-04-23 17:54] adamstac commented on #16
I don't think it's a matter of me adding, it's a matter of your creds in the [gemspec](https://github.com/scottkellum/modular-scale/blob/master/modular-scale.gemspec) matching your rubygems user

[2012-04-23 17:57] adamstac commented on #16
In the meantime:

[code]

[2012-04-23 17:57] scottkellum commented on #16
ok, well we should be good when this is pushed… at least my name and email match up with rubygems.

[2012-04-23 17:57] adamstac commented on #16
http://rubygems.org/gems/modular-scale

[2012-04-23 17:57] scottkellum commented on #16
Awesome! you rock @adamstac

[2012-04-23 18:00] adamstac commented on #16
Word, happy to help sir :)

[2012-04-23 20:32] JoeCianflone commented on #14
Interested in contributing.  I resolved my issues by just pulling in the sass file.  I'll see what I can do this and next and send you guys a pull request.  I had a couple of ideas that I think could be interesting, I'll send them as feature branches too.

[2012-04-26 08:44] Anahkiasen opened #17 "Facultative use of placeholders"
The modular-scale-classes is great but it can be a bit of an overkill, even more when you don't actually use the created classes in your HTML. For that I suggest the creating of a similar mixin, mudlar-scale-placeholder that would do pretty much the same :

[code]

Only the actual output would be a serie of placeholders, thus letting the code clean and leaving only the scales that are actually use

[2012-04-26 12:42] scottkellum commented on #17
Great idea, but using placeholder selectors would have to wait until 3.2 is out of beta.

The idea of generating classes is to better visualize values down the scale. In practice it would be easier and more flexible to write `ms($n)` to generate your values. Placeholder selectos do not generate a scale that the designer can look through.

That said, there might be a better way. How would you feel

[2012-04-26 12:48] Anahkiasen commented on #17
It's not really a matter of readability or usability, it's a matter of repetition. I'm using modular-scale a lot, for font-size/padding/margin and it leads to a lot of repetition of say `font-size: 16px`, everywhere on my CSS. By using placeholders to do something like that :

[code]

I avoid a hugh amount of superflous CSS.

[2012-04-26 14:09] scottkellum opened #18 "Rethink modular scale list"
The intention of the modular scale classes mixin is to provide a list of values the designer can read through. However it might be better to simply write values to a list and warn them. That way the list is visible to the designer but doesn’t generate code.

I also think that we should keep modular scale as a calculator, not a code generator. Tools around calculation should be included in this pro

[2012-04-26 14:09] scottkellum commented on #17
I think the best place for this would be in your own collection of mixins. Even though @canarymason and I use silent selectors extensively to keep our file size down, they aren’t in the release build of Sass.

The goal of this project is to provide basic modular scale calculations as a foundation for mixins like the one you posted. I agree the list calculations need to be rethought, but from a cor

[2012-04-26 14:09] #17 closed, assigned to nobody

[2012-04-27 08:18] Anahkiasen opened #19 "Compilers and square root characters"
On line 19 of the main file you used a square root symbol `√`, and granted although neither Sass nor Compass themselves have a problem with it, a lot of the modern compilers and watchers out there (LiveReload, FireApp, Compass.app) seem to choke on it.

As it is not really a crucial element of the sass file and could maybe be replaced by a simple V or a text formulation `square root`, is there any

[2012-04-27 14:16] scottkellum commented on #19
Thanks for the report, I will get on it. With all the talk of JS and C++ compilers it might be good for us to dumb down our character set anyways.

[2012-05-02 18:38] scottkellum commented on #16
@adamstac looks like you can add me here: http://help.rubygems.org/kb/rubygems/supporter-faq scott@scottkellum.com

I just updated lists and better unicode support.

[2012-05-02 18:41] scottkellum commented on #18
Added here: https://github.com/scottkellum/modular-scale/commit/6d00b124f12b18611ba6bee6d6ea9d74d7603ca7

A function writes the variable which is contained in a mixin for easy output.

[code]

It then writes a debug line in the terminal with the list.

[2012-05-02 18:41] #18 closed, assigned to nobody

[2012-05-02 18:42] scottkellum commented on #19
done!
https://github.com/scottkellum/modular-scale/commit/ccc799d611c1a538d1b9d37fcd6c438db66ea732

[2012-05-02 18:42] #19 closed, assigned to nobody

[2012-05-02 18:57] scottkellum commented on #12
done

[2012-05-02 18:57] #12 closed, assigned to nobody

[2012-05-31 19:08] hatefulcrawdad opened #20 "Choking on $golden variable"
I installed the gem added it to my config.rb file. When I started compiling, it was tripping up over the variable I had set of "$ratio: $golden;" I opted to just copy/past the stylesheet instead, but thought I'd call out this possible bug for you guys.

[2012-05-31 19:12] scottkellum commented on #20
Thanks @zurbchris, at what point did you import modular-scale into your stylesheets? It needs to be imported at a higher point in the cascade than the instance you call your ratio. Also, if you can paste your console output here it would be a big help.

[2012-05-31 19:15] hatefulcrawdad commented on #20
The importing of the stylesheet worked fine! It was when I tried to use the gem install implementation method that things got tripped up. Here's the output: `error scss/typography.scss (Line 5: Undefined variable: "$golden".)`

I had the variables at the top of typography.scss

[2012-05-31 19:20] scottkellum commented on #20
Ah, you still need to @import modular scale in your style sheets after including it in your compass project.

`@import 'modular-scale';`

I will add this to the readme.

[2012-05-31 19:20] #20 closed, assigned to nobody

[2012-05-31 19:33] hatefulcrawdad commented on #20
Doh!

[2012-05-31 19:35] scottkellum commented on #20
No worries. the version here has some pretty cool new list features that haven’t been pushed to the gem just yet: https://github.com/scottkellum/modular-scale/commit/6d00b124f12b18611ba6bee6d6ea9d74d7603ca7

[2012-06-27 16:14] scottkellum opened #21 "Refactor in Ruby"
Refactoring this in Ruby as a Compass plugin is going to provide a significant speed increase as well as increase accuracy. Downside: those not using Compass will have difficulty using this.

If we write this correctly it will not have to even be included in a stylesheet.

[2012-06-30 16:13] codingdesigner commented on #21
I think the speed is worth it. I find myself hard-coding the results from
ms because of the lack of speed. There may be a way to work w/o compass,
but let's build the compass version first.

[2012-07-01 13:49] codingdesigner commented on #21
I got list sorting in Ruby working last night and it seems a lot faster already. I'll get a few more features into ruby this weekend and then push.

[2012-07-03 17:59] codingdesigner commented on #21
ok. moved all the math logic into Ruby now. it's hot shit fast now. Next up is moving the switching logic to Ruby. I doubt that will give us a speed improvement, but it should allow us to remove the need to include our partial.

[2012-07-03 18:01] scottkellum commented on #21
Dude that’s awesome. Sometime I would love a walkthrough of this.

[2012-07-03 19:13] codingdesigner commented on #21
Certainly. If you check the code right now you'll see almost all of Sassy math in there. I'm using some of it, and the rest as reference. Currently debating whether to make it a dependency. Thoughts on that?

[2012-07-03 19:16] scottkellum commented on #21
Pretty easy to call a dependency in Sass, might as well just do it, especially when no style sheets needs to be @imported.

Will dig through it, still getting hung up on the little differences between Sass and Ruby.

---

Scott Kellum
scott@scottkellum.com
(347) 422-7572

scottkellum.com

On Tuesday, July 3, 2012 at 3:13 PM, Mason Wendell wrote:

[2012-07-03 19:36] codingdesigner commented on #21
We had some problem requiring the Fraction gem in Breakpoint. Something to do with different versions of Ruby. Since Math requires Fraction I want to test a bit before I make the requirement.

[2012-07-05 21:13] hatefulcrawdad opened #22 "Choking on $golden variable"
Hey Scott,

We're using Modular Scale in Foundation 3 and I'm having a difficult time getting the $ratio variable to change correctly. You can see how we're using it here: https://github.com/zurb/foundation/tree/master/stylesheets/foundation

The problem is when people create a new compass project and update the ratio, it doesn't change. I've tried moving variable order around and commenting/uncom

[2012-07-05 21:32] scottkellum commented on #22
I noticed you removed the default from the modular scale partial and moved it to settings. This is good as you don’t want two $ratio variables with !default.

In a brief glance it doesn’t look like you have other conflicts with this variable. You are defining one default in the stylesheets and one override avalible in the template.

I do recommend calling settings before any other partial, looks l

[2012-07-05 22:16] hatefulcrawdad commented on #22
The problem with putting settings above modular scale is that no variable called `$golden` has been defined at that point so it trips up. I had everything fine and dandy without throwing errors, but when I updated `$golden` to `$octave` or anything else, it didn't change anything in the stylesheets.

[2012-07-05 22:20] scottkellum commented on #22
Ahhh, you are right on the order. I will try to isolate this when I have some time later.

[2012-07-08 18:19] scottkellum commented on #22
I am still unable to replicate this bug even when copy/pasting the slightly modified modular scale from @zurb source. Switching ratios in user styles seems to work fine. If you can isolate further and find it is still an issue with modular scale please let us know and we will re-open this ticket.

Code in my local stylesheet:

[code]

[2012-07-08 18:19] #22 closed, assigned to nobody

[2012-07-08 20:18] codingdesigner commented on #21
This is nearly ready. I've decided to add Sassy Math as a dependency, but against moving the _entire_ thing to Ruby, at least for now. We aren't getting any more speed benefits, and as far as I can tell we lose the ability to set default variables.   This will be easier to maintain too, since neither of us are really ruby guys.

You can test it now if you like. I think all that's left is to build

[2012-07-08 20:32] scottkellum commented on #21
Brilliant, really brilliant. This is awesome.

[2012-07-12 12:19] scottkellum commented on #21
Planning to review, clean up, and publish Friday.

[2012-07-12 13:47] codingdesigner commented on #21
Sorry to drop off. I've been sick this week. I'd love a review, but I can handle the rest. I still need to move the ruby stuff from the config.rb to the gem definition.

[2012-07-12 13:54] scottkellum commented on #21
Cool. My girlfriend is away this weekend so I have all weekend for this stuff.

Was thinking of bumping up to v1.0 and generating some more buzz around this. Also ping Zurb about this and send a pull request to integrate this properly. Currently their implementation seems a little weird but I haven’t dug too deep into it.

Also I was having a few Ruby issues on my machine. I may need to work throu

[2012-07-12 13:58] codingdesigner commented on #21
Ok. I'll try to finish my cleanup before the weekend. There's not too much to do there. Then you can do a review, we can address anything you find, and release on Monday. I was also thinking this was time for a 1.0.

[2012-07-12 14:00] scottkellum commented on #21
Singularity is going beta this weekend. Maybe we can sync the releases up or even get a dedicated site for modular scale?

[2012-07-12 14:06] codingdesigner commented on #21
awesome new about singularity! Yes, let's sync up. How about we hold on announcing the releases for a week or so while we set up the site(s)?

[2012-07-12 14:13] scottkellum commented on #21
modular-scale.com and modularscal.es are now ours.

[2012-07-12 14:14] codingdesigner commented on #21
I'm about to register scottkellumisawesome.com and noseriouslyscottkellumisawesome.com

[2012-07-12 14:22] codingdesigner commented on #21
The timing is perfect for me. I have a couple talks coming up NYC on 7/21 and DC on 7/27 and having these releases by then will be very cool.

[2012-07-14 06:10] codingdesigner commented on #21
@scottkellum I just did my own review and pushed. I've moved all the Ruby to the extension definition, rewrote the readme, and added a changelog. I would have pushed an alpha, but I can't. Which brings me to...

@adamstac We need you to add us as contributors on rubygems or we're going to keep bugging you for pushes. :) I looked up how to do it.

`gem owner --add mason@canarypromo.com`
`gem owner

[2012-07-14 07:21] adamstac commented on #21
Word. I though having the emails in the Gemspec match you users email did the trick. I'll add you fellas tomorrow.

Sent via iPhone4

On Jul 14, 2012, at 1:10 AM, Mason Wendellreply@reply.github.com wrote:

[2012-07-14 15:37] scottkellum commented on #21
Awesome @canarymason I am around if you want to plow through anything together. Was having trouble getting the gem to build with the sassy-math dependency. but other than that it looks solid.

Using the alpha extension to force rubygems to install using --pre? Was thinking about rc1 but alpha is good for that reason.

[2012-07-14 22:59] codingdesigner commented on #21
hmm. I used the latest sassy-math and it built fine for me. once @adamstac adds me I can push to rubygems and we can test that verison

[2012-07-15 04:20] scottkellum commented on #21
Might just be me. My ruby version is messed up on both of my computers. Having trouble finding gems after installing them.

[2012-07-15 04:26] scottkellum opened #23 "Website"
We have the domains modular-scale.com and modularscal.es to work with.

Aesthetically it seems like we need to use lots of modular scales, probably the golden ratio. Maybe something like this: http://2011.beercamp.com/ but moving to different levels of a golden ratio nautilus kind of thing.

But focusing on content first that may not mesh well. Docs and install guides with a history of why modular

[2012-07-17 20:55] adamstac commented on #21
Sorry fellas, I tried to take care of this over the weekend and this is what I got then.

[code]

Not sure what the issue is.

[2012-07-20 12:17] Anahkiasen opened #24 "Problem with rails"
I can't seem to get this to work with Rails 3.2.6
I put `gem "modular-scale", "~> 0.0.5"` in my Gemfile but when I do `@import "modular-scale"` it throws a file not found error. I've had no problems using it in other frameworks, PHP or whatever, but Rails doesn't seem to find the gem.
Is there something specific to do or is it related to the new incoming gem ?

[2012-07-20 13:54] scottkellum commented on #24
Did you put `require 'modular-scale'` in your Compass config file?

If that still doesn’t work, write `gem list` in terminal and see if modular-scale is in that list.

I have run into this issue as well and found writing a .rvmrc file to isolate the ruby environment helps. Just add a file [like this](https://github.com/scottkellum/modular-scale/blob/master/.rvmrc) to your project and you will have

[2012-07-20 15:03] Anahkiasen commented on #24
I'm kind of new to Rails, where should I place the require ? In `/config.rb` or `/config/compass.rb` ?

[2012-07-20 15:05] scottkellum commented on #24
Your compass project should have a config.rb`file. Add the`require 'modular-scale'` there.

[2012-07-20 19:30] #24 closed, assigned to nobody

[2012-07-23 04:19] codingdesigner commented on #21
@adamstac I did a little more digging, and I think you need to tell that command which gem you're changing the owners for. So you'll need to rebuild the gem since it's not in the repo, and then run:

`gem owner modular-scale-1.0.alpha.gem  --add mason@canarypromo.com`

sorry to bug you about this.

[2012-07-26 19:26] scottkellum commented on #21
@adamstac try this:

`gem owner my_gem -a foo@example.com`

[2012-07-26 19:30] scottkellum commented on #21
[code]

[2012-07-27 04:44] adamstac commented on #21
Score! https://rubygems.org/gems/modular-scale

[code]

[2012-07-27 16:47] codingdesigner commented on #21
YES!!! new release this afternoon, @scottkellum

thanks. @adamstac!!!!!

[2012-07-27 16:47] #21 closed, assigned to nobody

[2012-07-29 00:54] scottkellum commented on #16
Pushed 1.0.rc1!!!

[2012-07-29 00:54] #16 closed, assigned to nobody

[2012-07-30 02:35] codingdesigner commented on #16
With @snugug's update to sassy-math I didn't need to reroll anything. Let's test the 1.0 rc while we get the site together, and then release.

[2012-08-05 19:56] OliverJAsh opened #25 "Trouble getting it working (returns 0px)"
I have installed the gem and required it in my Compass. The following code:

[code]

Produces:

[code]

Have I missed something? I have the previous version of the gem but ran `sudo gem install modular-scale` again and it appeared to update.

[2012-08-07 16:24] codingdesigner commented on #25
I think my code makes some assumptions about sassy-math that are wrong now. I'll dive in soon.

[2012-08-07 16:32] codingdesigner commented on #25
I have a temporary fix. Instead of `golden()`, use `golden_ratio()`. I think I just need to create an alias for that ratio.

[code]

returns the expected values.

[2012-08-08 06:37] codingdesigner commented on #25
try updating the gem. I think I have this fixed.

[2012-08-08 08:05] OliverJAsh commented on #25
Updating works. Thank you!

Oliver

On 8 Aug 2012, at 07:37, Mason Wendell notifications@github.com wrote:

[2012-08-09 02:08] #25 closed, assigned to nobody

[2012-08-11 16:12] drejohnson opened #26 "Sass 3.2.0 causes errors"
When updating to sass 3.2.0 I get a error like this in my stylesheets: 'error sass/app.scss (Line 7 of _globals.scss: Function ms is missing argument $base-size.)'

It does give this error on sass version 3.2.0.alpha.278 and below.

[2012-08-13 04:51] codingdesigner commented on #26
I just pushed a new gem that should fix this. update to 1.0.2 and let me know if there are still issues.

[2012-08-13 04:51] #26 closed, assigned to nobody

[2012-08-13 18:11] ghost opened #27 "SCSS version"
could there be a .scss version of modular-scale.sass?

there's one, but it's outdated (canarymason/modular-scale)

[2012-08-13 19:28] scottkellum commented on #27
No plans to but feel free to use `sass-convert` to generate your self a SCSS version. Keep in mind you will still need the Ruby code in your project to make it work with new versions.

Any particular reason why you want SCSS? Anything you are trying to modify?

[2012-08-13 19:40] #27 closed, assigned to nobody

[2012-08-13 20:29] ghost commented on #27
thanks, I'm putting together a SCSS based toolkit, including modular-scale.
It works great with compass and the gem installed, but including it directly doesn't work (think using SCSS without Compass), even after converting it to SCSS (with sass-convert).

as you asked, did you ever think about using 'ems' instead of pixels?
here's some code to do the conversion: https://gist.github.com/2237465
it

[2012-08-13 21:06] scottkellum commented on #27
v1.0 requires Compass because a lot of the more complicated logic @canarymason ported to Ruby to speed things up. I highly recommend using this with Compass and adding a dependency like this: https://github.com/zurb/foundation/pull/773/files

If you need to have a straight Sass version you can dig back in the history to find one. Sass will work fine along side SCSS.

You can put any units through

[2012-08-14 00:57] ghost commented on #27
you're right, Scott
a scenario of using Sass without Compass may not be worth the time.

<code>$base-size: 1em</code> works fine,
but if using this function http://stackoverflow.com/questions/11926485/sass-function-to-convert-pixels-to-ems
like this <code>$base-size: pem(16px)</code> it says:
<code>Syntax error: Undefined operation: "11.08901 times 1em".</code>

is something wrong with my function

[2012-08-14 01:09] scottkellum commented on #27
Yeah,

`$baseFontSize: 16;`

might work better with a unit and `!default` declaration

`$baseFontSize: 16px !default;`

Because Sass treats units like algebraic components they are added and canceled with these math functions. In order to remove units you can divide them like so `16px/16px = 1`. You can add a unit back by multiplying by `1em`. So using our result `1*1em` will give you your result.

[2012-08-14 01:47] ghost commented on #27
great info and code

don't mind me saying but, the last function on there, shouln't it be named <code>rem($number, $em-offset)</code>?

i'm a Sass (amazed) newbie, everything's new :)

[2012-08-14 13:12] scottkellum commented on #27
Good catch. thanks!

[2012-09-05 12:32] slbug opened #28 "_modular-scale.sassc: can't dump anonymous class (on rails 4)"
<pre>
Warning. Error encountered while saving cache [RAILS_ROOT]/tmp/cache/sass/c128eee8c8d012fc0634122b270ca80bc0c6c6e5/_modular-scale.sassc: can't dump anonymous class #<Class:0x000000038b46a8>
</pre>

Sample app https://github.com/slbug/test_modular_scale (just start, open localhost:3000, see console)

[2012-09-05 12:39] slbug commented on #28
Full stack trace

<pre>
~/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/cache_stores/base.rb:51:in `dump'
~/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/cache_stores/base.rb:51:in `store'
~/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/cache_stores/chain.rb:19:in `block in store'
~/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/cache_stores/chain.rb:19:in `each'
~/.rvm/gems/rub

[2012-09-05 15:05] scottkellum commented on #28
Are you experiencing problems importing any other compass plugins? I am not familiar with setting up ruby apps or compass-ruby so this is difficult for me to debug.

I’m also not seeing `require 'modular-scale'` in your config file, but I am not sure where you would put something like this in a Ruby app.

[2012-09-05 15:11] slbug commented on #28
any other plugins works well. i've just created this app to check where issue is. zurb-foundation plugin uses modular scale and i see same warning.

[2012-09-05 15:48] codingdesigner commented on #28
I also don't work with Ruby apps so it might take a while to debug. I'll look into what the "can't dump anonymous class" error might mean tho. It might also have something to do with Ruby 1.9.3. I'm using 1.8.7 (default version on Macs)

[2012-09-05 16:06] scottkellum commented on #28
I have been using it with 1.9.2 and it works fine.

[2012-09-06 08:45] slbug commented on #28
Can't test on 1.9.2. Rails 4 requires 1.9.3

[2012-09-07 19:17] saulsolorzano opened #29 "Problem with codekit"
Hi! I've been trying to use your gem, it installs just fine but when I try to require it using codekit (I know I have to use the complete path): require '/Library/Ruby/Gems/1.8/gems/modular-scale-1.0.2/lib/modular-scale.rb';

I keep getting this error:

"Compass was unable to compile one or more files in the project:

LoadError on line 2 of /Library/Ruby/Gems/1.8/gems/modular-scale-1.0.2/lib/modul

[2012-09-14 19:05] 144288 commented on #29
Getting the same thing. Wish I could be more helpful in suggesting a solution!

[2012-09-14 19:49] adamstac commented on #29
Do you have the Sassy Math gem installed?

[2012-09-14 19:49] adamstac commented on #29
Opps, commented and closed ... then re-opened. My bad.

[2012-09-14 19:53] saulsolorzano commented on #29
Yes, I have it installed and have it require in config.rb and nothing

[2012-09-14 20:00] 144288 commented on #29
Same here - installed and required.

[2012-09-14 20:01] adamstac commented on #29
Can you test to see if you use just Sassy Math in the project ...

Meaning, comment out the usage of Modular Scale and try to see if Sassy Math is getting loaded for usage. If not, then there's something wrong with it getting loaded for whatever reason.

[2012-09-14 20:10] 144288 commented on #29
I _think_ I found all the places I used it and commented out but I still get the error.

[2012-09-14 20:14] adamstac commented on #29
Any way you can share your project so I can help troubleshoot? If it's on GitHub add me 'adamstac'

[2012-09-14 20:18] saulsolorzano commented on #29
Well, I commented it out and codekit gave me the green light, what to you think may be the problem? I'm not using it in any projects, I wanted to try it first and it gave me the error

[2012-09-14 20:20] adamstac commented on #29
Hard to tell really. It's not loading the sassy-math library, so that's where'd I'd start.

[2012-09-14 20:24] saulsolorzano commented on #29
Well, I think sassy-math is loading, I'm trying a couple of functions and it works fine, do you know what does this "Run with --trace to see the full backtrace" mean?

[2012-09-14 20:25] 144288 commented on #29
if you compile with compass in terminal using --trace it will give you a more detailed error log

[2012-09-14 20:26] saulsolorzano commented on #29
Ohhh, let me see

[2012-09-14 20:28] 144288 commented on #29
are you seeing this in your log?

/Library/Ruby/Gems/1.8/gems/sassy-math-1.2/lib/sassy-math.rb:156: warning: already initialized constant VERSION
/Library/Ruby/Gems/1.8/gems/sassy-math-1.2/lib/sassy-math.rb:157: warning: already initialized constant DATE

[2012-09-14 20:29] saulsolorzano commented on #29
Yes

[2012-09-14 20:32] 144288 commented on #29
wonder if that is part of the problem. unfortunately if it is, i don't know what to do about it!

[2012-09-14 20:35] saulsolorzano commented on #29
Well, I don't know about you, but if I use compass in the terminal modular-scale works perfect, the problem here is codekit, not modular-scale. Adam! Thank you so much for the help. I'll write Bryan of codekit to see if he knows anything about this. 144288 you can't make it work using the terminal?

[2012-09-14 20:36] 144288 commented on #29
no I get an error:

Function ms is missing argument $base-size.

[2012-09-14 20:37] adamstac commented on #29
I think so as well. Those constants are scoped to the class that contains them.

https://github.com/scottkellum/modular-scale/blob/master/lib/modular-scale.rb#L9
https://github.com/scottkellum/Sassy-math/blob/master/compass/lib/sassy-math.rb#L154

Shouldn't be an issue.

[2012-09-14 20:56] 144288 commented on #29
looks like other people as seeing the $base-size issue

https://github.com/zurb/foundation/issues/828
https://github.com/zurb/foundation/issues/788

but - I'm not using foundation and I've got the lastest:

sass: 3.2.1
compass: 0.12.2

adam - thanks for your time looking into this. much appreciated

[2012-09-16 14:34] lmartins opened #30 "Cant get modular-scale to compile"
As soon as i import  "modular-scale" i get the following error on compilation:

[31m[0m[31m    error[0m css-src/main.scss (Line 198 of _modular-scale.sass: Invalid CSS after "($args": expected ")", was "...)")

Im running with sass-3.2.1 and latest compass also.

[2012-09-21 13:41] Soundsauca opened #31 "Outputting scales in Terminal"
Hi Scott,

I'm a bit new to compass etc. I've got your gem running, but I can't figure out how to output my current settings to a list in the terminal.

If you can help, that'd be great!

[2012-09-21 14:13] scottkellum commented on #31
Sure, just write:

[code]

Replace `$start` with where you want the list to start and `$finish` with where you want to end on this list.

Let me know if that doesn’t work.

[2012-09-21 14:36] Soundsauca commented on #31
Thanks for that, I type that directly in the terminal - ie:

@include ms-list (0, 8);

and I get

-bash: syntax error near unexpected token! I must be doing it wrong!

[2012-09-21 15:34] rpkoller commented on #29
I think the issue to get modular-scale going with codekit is the following. you've told that compass and modular scale are working fine from the terminal but not if you require it in the compass config.rb file for codekit. i guess you are using the built in compass framework of codekit. codekits compass is considered as external for modular scale so it is unable to reach some necessary dependencie

[2012-09-21 16:46] scottkellum commented on #31
Hmm, well if the space between the mixin and the parenthesis is there then that might be it. I don’t have time to do a full debug at the moment though.

[2012-10-05 15:36] atadams opened #32 "Different scale for negative multiples"
I love using modular scales but find that, while it works great for increasing sizes from the base size (positive multiples), decreasing sizes (negative multiples) get too small too quick—even with smaller ratios. I need finer control with smaller sizes. I have created a function that allows for a separate ratio for negative multiples. Might this be something that would be useful for others and bu

[2012-10-10 14:07] codingdesigner commented on #31
@ottobyte You don't type that @include directly into the terminal. Add the line Scott posted into your Sass file, and it will output the values in that range to the terminal.

[2012-10-10 14:12] codingdesigner commented on #32
This is interesting. It wouldn't be too hard to implement, but I'm not sure we need it. To solve the issue of values being too widely spaced I use either multiple base sizes or multiple ratios, like this:

`$base-size: 16px 44px`
or
`$ratio: golden_ratio() minor-third()`

There's usually no need to have multiples of both variables, but it's possible.

Does that help?

I'm thinking about your sugge

[2012-10-11 05:09] Soundsauca commented on #31
Thanks for that!  I'll give that a go. I've just found your survival kit which I'm going to look at.

[2012-10-11 18:39] atadams opened #33 "Incorrect results with some negative multiples when base is a list."
I believe 2c23acf00768b7abd8a228f5e786c60642032394 introduced an error with certain negative multiples when the base is a list.

Example `ms(-2, 16px 44px, 1.618, false);` should equal 9.88875px (see [ModularScale.com](http://modularscale.com/scale/?px1=16&px2=44&ra1=1.618&ra2=0)) but equals 6.11171px.

Actually the multiples -2, -3, and -4 with these settings all equal 6.11171px.

[2012-10-14 21:42] jakejscott commented on #27
@sopppas Did you manage to convert this to scss?

[2012-10-15 00:27] rpkoller opened #34 "Modular-scale-list output if Codekit is used"
I am running Sass & Compass via Codekit. To be able to use the Modular Scale extension  i had to install Sass & Compass in the terminal and then call the external versions of them from within Codekit. Otherwise they wouldn't work due to dependency issues. So far so good. But my questions is, is there a way to output the mixin modular-scale-list if the preprocessing is done in Codekit - cuz a conso

[2012-10-16 17:13] ghost commented on #27
@superlogical yes, here it is: http://footeste.info/_dip.scss

[2012-10-17 19:47] snowlers commented on #27
@sopppas Did you ever convert the modular-scale.sass to an scss version? I need one since Web Workbench can't use sass version.

[2012-10-17 20:11] scottkellum commented on #27
@madmarten pure SCSS or an SCSS version of the Compass plugin?

Note that modular-scale now requires Compass for performance reasons.

[2012-10-17 20:23] snowlers commented on #27
Web Workbench (VS 2012) should be able to handle Compass, but they state that they don't support sass versions. And I can't get it to compile, the modular-scale throws errors. (I'm trying to get Zurb Foundation to work).

[2012-10-17 21:29] jakejscott commented on #27
Hey @madmarten I was trying to do the exact same thing, get Web Workbench and Zurb Foundation working together! In the end though I just installed ruby and compass by following the instructions on this page

[code]

Honestly I haven't had any problems and its good to have to learn the syntax without any help from intellisense. I keep the compass reference open so I can learn that too:

[code]

The

[2012-10-18 10:00] snowlers commented on #27
I guess I will go for the ruby route too. Thanks all for your input.

[2012-10-20 17:01] stoplion commented on #20
Having the same problem
Added gem, added require 'modular-scale' to compass.rb,

Within the same file tried both: @import "modular-scale" followed by a $ratio: $golden, and switching it up setting $ratio: $golden followed by @import "modular-scale". Both times got a `Undefined variable: "$golden".`

[2012-10-21 14:03] stoplion opened #35 "Undefined variable: "$golden""
Hello, having some problems with installing as a gem.

I've bundled the Gem, added modular-scale to compass.rb (Rails project)

In applications.css.sass I've added `@import "modular-scale"` and then in another file called..

[code]

The @import is definitely being called before $ratio is set.
Getting a `Undefined variable: "$golden"`

_Edit_
Getting the same error using it inline, while removing t

[2012-10-21 14:32] rpkoller commented on #35
Golden shouldn't be declared as a variable in that context. I guess you should use:

$ratio: golden();

[2012-10-21 14:53] stoplion commented on #35
@rpkoller Thanks for the reply.

While inspecting the html output in Chrome I noticed the `font-size: modular-scale(3, 16px)` is literally being spit out as `font-size: modular-scale(3, 16px)`. Very strange. I think like I've followed the directions pretty thoroughly, and done the usual with installing a Compass plugin in Rails..
1. Gem install modular-scale
2. Add gem modular-scale to Gemfile and

[2012-10-21 15:00] stoplion commented on #35
Solved it.._doink_ Reordered dependencies, it started working.

[2012-10-21 17:41] lmartins commented on #30
This was related to my SASS version, which was somehow broken on my laptop.
Thanks.

[2012-10-21 17:41] #30 closed, assigned to nobody

[2012-10-24 19:12] stoplion opened #36 "confused on modular-scale-list and modular-scale-classes"
Awesome plugin, but I am kind confused on some of the documentation on here.

---

"You can output a list to your terminal to help you find out what values are on your scale."
`@include modular-scale-list($start, $end, $base-size, $ratio)`

So I can call `+modular-scale-list(1, 12, 16px, $ratio)` in say base.sass and I will see the 1—12 scale numbers flash by in my Bash terminal?

Or start in the

[2012-11-03 21:40] bernardoantunes opened #37 "Undefined variable "$golden variable" - it was working"
Hi, I just reinstalled compass and the modular-scale gem.

Everything was working before without any problem. Now it started saying this message and I have no clue.

My site is a simple github page, so you can see what I mean.

https://github.com/bernardoantunes/bernardoantunes.github.com

Any help would be appreciate, I saw the other post about the same problem but I got no solution that worked.

[2012-11-04 00:40] scottkellum commented on #37
Try `golden()`

We moved the included ratios over to functions.

Let me know if that works so I can close out the issue.

[2012-11-05 11:45] bernardoantunes commented on #37
Hi Scott,

It solved the problem. Thank you very much.

Best regards,
Bernardo

Date: Sat, 3 Nov 2012 17:40:45 -0700
From: notifications@github.com
To: modular-scale@noreply.github.com
CC: bernardo.miguel.antunes@gmail.com
Subject: Re: [modular-scale] Undefined variable "$golden variable" - it was working (#37)

Try golden()

We moved the included ratios over to functions.

Let me know if that wor

[2012-11-05 14:12] #37 closed, assigned to nobody

[2012-11-22 01:56] sethburtonhall commented on #29
@rpkoller I am having the same issue, but I have already set "use compass as an executable path".

Has anybody fixed this issue?

[2012-12-13 22:20] robwierzbowski commented on #17
For anyone homebrewing module scale placeholders, be aware that a placeholder defined outside of a media query can't be used inside of a media query. If you're adjusting font size a lot between breakpoints, using the functions or assigning a function value to a variable is probably a better solution.

[2012-12-19 16:52] danielbayerlein commented on #28
After the update from Middleman 3.0.6 to 3.0.7, I do have the same problem.

[code]

[2012-12-25 07:39] jwebcat opened #39 "Add an option for output in ems"
Actually You can put any units through modular-scale. Just write something like $base-size: 1em; in your project. I have used it with em, rem, %, and px.

[2012-12-25 07:46] #39 closed, assigned to nobody

[2012-12-27 20:26] davidbegin commented on #28
I am having this problem right now, and haven't found a solution.

[2012-12-27 22:18] beathyate commented on #28
Me neither.

[2012-12-28 02:39] scottkellum commented on #28
I haven’t run into the problem yet :(

I am by no means experienced with ruby/rails if anyone knows where we might start or wants to help it would be greatly appreciated.

[2012-12-28 02:54] #35 closed, assigned to nobody

[2012-12-28 03:16] #31 closed, assigned to nobody

[2012-12-28 03:19] scottkellum commented on #32
closing without action.

[2012-12-28 03:19] #32 closed, assigned to nobody

[2012-12-28 03:22] #23 closed, assigned to nobody

[2012-12-28 06:38] beathyate commented on #28
Maybe this could be it, but I haven't tested yet: https://github.com/rails/rails/blob/3-2-stable/actionpack/actionpack.gemspec#L26

[2012-12-28 15:29] scottkellum commented on #36
they have been deprecated, Feel free to loop your own but it just wasn’t flexable enough or in line with the goals of the project.

[2012-12-28 15:29] #36 closed, assigned to nobody

[2012-12-28 15:30] scottkellum commented on #34
added https://github.com/scottkellum/modular-scale/commit/1da88e5b2e69f976baa23b4bd5ee60cfbd0daa57

[2012-12-28 15:30] #34 closed, assigned to nobody

[2012-12-29 10:06] danielbayerlein commented on #28
With version 1.0.3, the problem no longer exists for me.

[code]

[2012-12-29 19:55] davidbegin commented on #28
I upgraded and it solved the problem for me too.

[2012-12-30 00:57] scottkellum commented on #28
Really? well thats convenient. awesome.

[2013-01-02 16:10] patrickansari opened #43 "Invalid US-ASCII character in _modular-scale.sass"
Line 220 of  _modular-scale.sass is causing issue as for some reason the file isnt't interpreted as UTF-8. The offending character is "•". Have commented out the line and it worked, but obviously not a solution.

I'm using rvm with ruby 1.9.3 and Compass 0.12.2,  Sass 3.2.4.

Any tips would be appreciated.

[2013-01-02 16:25] scottkellum commented on #43
Hmm, sorry about that. The unicode line should have solved that and you aren’t running through a GUI so not sure why it is choking on it.

I will change it to an ascii char next time I get a chance. For now you can specify `1.0.2` in your gemfile or `gem install modular-scale -v 1.0.2`.

[2013-01-02 16:33] patrickansari commented on #43
Thanks, I suspect it's nothing to do with your file actually - more likely some funky encoding issue on my side making it choke on any unicode chars. Seems like a common issue though haven't yet found a good solution. Will keep looking and post what I find.

[2013-01-03 09:00] trimentor commented on #28
After upgrading from version 1.0.2 to 1.0.3 I can also confirm that the warning is gone.

[2013-01-03 17:09] #28 closed, assigned to nobody

[2013-01-03 17:10] scottkellum commented on #29
Can you try updating to 1.0.4? This issue may be related to #28 which is fixed.

[2013-01-03 21:15] scottkellum commented on #43
fixed in 1.0.4

[2013-01-03 21:15] #43 closed, assigned to nobody

[2013-01-04 02:28] sethburtonhall commented on #29
I updated to 1.0.4, I will post here with any results. Thanks

[2013-01-14 17:36] chaffeqa opened #45 "1.0.5 - Unable to find 'modular-scale' upon @import with compass"
Had to revert to 1.0.2 due to somehow 'modular-scale' not being registered as @import-able for compass...

Can give more info if needed, but jsut wanted to let you know

[2013-01-14 18:09] scottkellum commented on #45
crap, thanks, does 1.0.3 or 1.0.4 work for you?

[2013-01-14 19:02] HGebhardt commented on #45
Same issue when you are installing the foundation gem (since it's compass based): http://foundation.zurb.com/docs/rails.php
"File to import not found or unreadable: modular-scale."

1.0.4 of your gem is working fine.

[2013-01-14 19:08] scottkellum commented on #45
Welp, literally one character changed between 1.0.4 and 1.0.5

time to rebuild the gem :frowning:

[2013-01-14 20:48] Genkilabs commented on #45
I just added this to foundation https://github.com/zurb/foundation/issues/1389

[2013-01-14 22:19] manuel-woelker commented on #45
Got bit by this as well. It seems the stylesheets folder is simply missing. Reverting to 1.0.4 worked fine.

[2013-01-14 22:23] scottkellum commented on #45
Fixed in 1.0.6

[2013-01-14 22:23] #45 closed, assigned to nobody

[2013-01-15 18:23] manuel-woelker commented on #45
Works like a charm, thanks for the quick fix!

[2013-01-26 19:47] scottkellum commented on #29
@middle8media Any results?

[2013-01-26 22:06] sethburtonhall commented on #29
To be honest, I can't remember, too many projects going on. I think I ended up using compass watch in the command line, instead of compiling via Code Kit. So that being said, I never could figure out "use compass as an executable path".

[2013-01-30 13:21] torkiljohnsen commented on #29
I had this problem earlier with most (all?) gems like this, and stuff used to be complicated to fix. Had to specify the full path to the gem in config.rb for instance. Nowadays though, this is solved it by setting the Compass executable manually as suggested by @rpkoller:

From the Codekit Preferences, go to Languages and then to Compass.

Under advanced compiler settings, choose "Use the Compass

[2013-01-30 13:58] torkiljohnsen commented on #29
I just installed modular-scale here and used the aforementioned procedure, and it works as expected.

[2013-01-30 15:51] scottkellum commented on #29
Thanks @torkiljohnsen, glad to hear it works. Closing this issue.

[2013-01-30 15:51] #29 closed, assigned to nobody

[2013-02-14 17:44] ghandrick commented on #33
Can confirm problem.

[2013-02-14 18:13] scottkellum commented on #33
The issue is confirmed, just very difficult to fix.

[2013-03-04 16:01] scottkellum opened #46 "Refactor"
I think there is a lot we can simplify and consolodate here as well as writing more in Ruby.

I started a new branch where I am working on some things. Architecture wise I think we can make this tighter.

[code]

This should be faster, easier to read, and more DRY. Hunting down issue #33 is a nightmare in the current iteration.

We should also have the math consolidated in the ruby instead of brok

[2013-03-11 15:58] scottkellum commented on #46
Thinking about not doing this in Ruby, only because Compass isn’t the only front-end package manager these days and there is no way to get this working with lib-sass.

It will be tricky to do this within a performance budget, but then we could push to Compass/Bower/Yeoman/Bourbon/flat-file…

Note foundation dropped modular-scale as they are moving away from Compass as a strict dependency.

[2013-03-11 16:03] codingdesigner commented on #46
hmm. It's going to be tricky to keep performance a priority w/o dropping features. I hear you on that reasoning tho. I'll try to think about this this week tho.

[2013-03-13 07:00] scottkellum commented on #46
Yeah, dropping too many features.

The major hit is with the lack of exponent support in Sass making non-positive integer values difficult to calculate. That on top of list sorting is too much of a performance hit to recover from. Submitted a feature request to Sass core: https://github.com/nex3/sass/issues/684

I feel like there has to be a way to do list sorting more efficiently in Sass, even to

[2013-04-17 15:38] batdevis commented on #24
@Anahkiasen , have you resolved the issue? Where is the Compass config file? What's its content?

[2013-06-13 11:07] ldexterldesign opened #48 "Line 5: Function golden-ratio is missing argument $value.?"
Hey,

Thanks for your work on this feature - excited to get playing with it ( https://twitter.com/ldexterldesign/status/345131467938091008 ), however I'm getting the following error on start up - any help?

![screen shot 2013-06-13 at 12 00 14](https://f.cloud.github.com/assets/1715809/647958/51b52f20-d419-11e2-9cc7-31e0eb70f840.png)

Yours hopefully,

[2013-06-13 11:11] ldexterldesign commented on #48
Ahh, I've just realised you need http://compass-style.org/ for this, correct?

Cheers,

[2013-06-13 11:51] ldexterldesign opened #49 "Description typo"
![screen shot 2013-06-13 at 12 51 36](https://f.cloud.github.com/assets/1715809/648103/a4bda49e-d41f-11e2-979f-2101672f5dd4.png)

major-tenth() ratio and decimal need switching?

Best regards,

[2013-06-19 09:52] floscr commented on #48
I've got the same issue, but only if I also use bourbon.

[2013-06-19 11:33] scottkellum commented on #48
You need to use this with Compass

[2013-06-19 11:37] scottkellum commented on #48
It says “Compass” in the install process, is that not clear enough?

[2013-06-19 11:40] floscr commented on #48
I'm using compass, but i also like to @import bourbon to compass…

[2013-06-19 11:46] scottkellum commented on #48
@artish Bourbon has a modular-scale function as well with the same name: http://bourbon.io/docs/#modular-scale

There will definitely be conflicts, try @importing modular-scale _below_ your bourbon import.

Let me know if that helps, reopening until settled

[2013-06-19 11:50] floscr commented on #48
Oh gosh! I didn't know that bourbon had a similar function. Sorry about that!

I already have the modular-scale import below the bourbon import and compass passes me an error.

[2013-06-19 12:22] scottkellum commented on #48
Looking further into it there is no easy way to fix this as my codebase currently exists. Looks like Bourbon is doing some things with the golden ratio function that aren’t compatible with what I am doing.

You will have to selectively import Bourbon or avoid modular-scale.

Closing without further action.

[2013-06-19 12:22] #48 closed, assigned to nobody

[2013-06-19 15:22] ldexterldesign commented on #48
@artish you can use the Bourbon update here https://github.com/thoughtbot/bourbon/pull/175

Count yourself lucky - I have 3 versions of the modular-scale function in my project ( https://github.com/typeplate/typeplate.github.io/issues/112 )! :(

Best regards,

PS It would be useful if there was a universal modular scale everyone could agree on with:
- Double strand
- rem output/px fallback

[2013-07-03 17:00] mattgregg opened #50 "Power undefined operation error"
I had been using the mixin successfully while developing for a project and for some reason it started to throw me this error. I have been researching online and have tried a number of tweaks (order of includes, adding sassy_math) to no avail so I thought I'd check if someone had seen this before and knows the fix.
Syntax error: Undefined operation: "power(golden_ratio(), 1) times 16px 160px".

[2013-07-07 19:27] #50 closed, assigned to nobody

[2013-07-07 19:30] mattgregg commented on #50
I restarted the project from ground up installing the gem this time for this and for sassy-math instead of just importing the file. This seems fine. I'm not sure how the earlier project got out of wack. Closing this.

[2013-07-08 11:59] scottkellum commented on #50
@mattgregg A lot of the code for modular-scale is written as a Ruby extension to Sass. That is why you need to install the gem instead of just copying files over.

Glad you got it working.

[2013-07-21 19:16] mnakalay opened #51 "sort-list posing problem"
Hello,
Totzl ruby / sass / compass newbie here.

I am trying to use modular-scale.
I am not installing the gem or anything. I tried but it didn't seem to work for some reason but that's not the issue.
I installed sassy-math (the gem) and I'm importing modular-scale directly in my scss file
I keep getting problems with the compiler complaining about the sort-list function not being defined.

In an

[2013-07-21 21:41] scottkellum commented on #51
Please follow all the [installation instructions](https://github.com/Team-Sass/modular-scale#installation). You need to install the gem and use it with Compass.

[2013-07-21 21:41] #51 closed, assigned to nobody

[2013-07-29 05:31] Soundsauca opened #52 "Using ems instead of pixels"
Hi, I want to output ems instead of pixels. I've tried setting `$base-size: 1em` however Compass doesn't like this.

[2013-07-29 05:36] Soundsauca commented on #46
Sorry if I'm jumping in here, is this the reason why when I use:
    +adjust-font-size-to( ms(-2) , 1)
    +leader( ms(-2), 1)
I get large 'incorrect' spacing as opposed to tighter ones?

[2013-07-29 11:46] scottkellum commented on #46
@ottobyte Not this issue in particular, but probably issue #33 If you are using multiple bases or multiple ratios.

[2013-07-29 11:49] scottkellum commented on #52
Should work fine, I use ems all the time: http://sassmeister.com/gist/6082041

[2013-07-29 12:31] Soundsauca commented on #52
Thanks for that, that seems to work!

On 29 Jul 2013, at 12:49, Scott Kellum notifications@github.com wrote:

[2013-07-29 12:45] Soundsauca commented on #52
Sorry, yes it works in that instance, I have been attempting to use it like this '`+adjust-font-size-to( ms(2) , 2  )`, I'm getting `error sass/style.sass (Line 99 of _vertical_rhythm.scss: 0.265em*em/px isn't a valid CSS value.)` as a result. Does modular-scale not work with Compass this way?

Many thanks Scott

[2013-07-29 14:38] scottkellum commented on #52
ah, yeah vertical rhythm only works with px. It’s an issue with the vertical rhythm module in Compass, not an issue with Modular Scale.

Hopefully they will get it to work with ems although vertical rhythm tends to work better in pixels. I don’t usually use Compass vertical rhythm so I don’t really bother with.

[2013-07-29 14:43] Soundsauca commented on #52
Right I'm with you, thanks a lot for clearing that one up Scott,

Would you say just directly using the ms() functions directly on the font-size, margins etc is the way to go?

On 29 Jul 2013, at 15:38, Scott Kellum notifications@github.com wrote:

[2013-07-29 15:03] scottkellum commented on #52
@ottobyte Yes! I use `ms()` _everywhere_ in my personal projects. Breakpoints, margins, everywhere.

[2013-07-29 15:03] #52 closed, assigned to nobody

[2013-08-06 02:11] jasonkendall opened #53 "modular-scale background"
Is there a way to show a ms background like, for instance, the way we can turn on a SUSY grid background? You know, sort of like the horizontal rules on a piece of notebook paper.

Thanks!

[2013-08-06 11:21] scottkellum commented on #53
This is not within the scope of modular-scale but you may want to check out [Singularity](https://github.com/Team-Sass/Singularity/) and use the [background-grid](https://github.com/Team-Sass/Singularity/wiki/Creating-Grids#visualizing-your-grids) mixin.

[2013-08-06 11:21] #53 closed, assigned to nobody

[2013-08-06 16:42] cimmanon opened #54 "Does the first element of the list generated by the modular-scale-list function serve a legitimate purpose?"
I'm using modular-scale to generate the font-sizes used by my headlines (h1-h6).  When I specified `modular-scale-list($n, $n + $i)`, my expectation as a programmer is that I would have a list containing `$i + 1` items.  Instead, I receive a list of `$i + 2` items where the first item is the string `MS-LIST:`.

I understand that this string is desirable for debugging purposes with the modular-scal

[2013-08-06 18:10] scottkellum commented on #54
What is your use case for needing a list other than debugging?

[2013-08-06 18:56] cimmanon commented on #54
[code]

[2013-08-06 19:16] scottkellum commented on #54
Because the ms() function is already so easy to manipulate I never considered using `modular-scale-list` programmatically, only for clear debug output. I see your point, I could be convinced to change this.

Here is how I might do it:

[code]

[2013-08-07 13:29] cimmanon commented on #54
Personally, I don't find the use of abs very intuitive.  If loops could decrement (see: https://github.com/nex3/sass/issues/691) or if there was a reverse function for lists, then it would be simpler.

[code]

[2013-08-07 13:33] scottkellum commented on #54
@cimmanon yeah, plenty of ways to write it though, shouldn’t be too hard to write it with the loop you have.

Keeping this issue open, I’ll probably remove the `MS-LIST:` but am totally swamped with things at the moment.

[2013-08-09 18:44] scottkellum opened #55 "Create and maintain a changelog"
Good example: https://github.com/sparklemotion/nokogiri/blob/master/CHANGELOG.rdoc

[2013-08-15 22:18] ap4y commented on #55
Hey, can you also assign `git tag` (`github release`) for versions of the `modular-scale`. There is a `bower.json` in this project, unfortunately `bower` gets library version from `git tag`, so latest version for `modular-scale` in `bower` is only `0.0.4`. Thanks!

[2013-09-19 16:41] hasft opened #56 "important numbers"
how i use important number? can i go with something like this: ms(0, 16px, 14px) ?

[2013-09-19 16:59] hasft commented on #56
ahh $base-size: 14px 16px; cool

[2013-09-19 16:59] #56 closed, assigned to nobody

[2013-10-07 11:15] ghost commented on #50
I have the same issue, I started new project from scratch, still the same issue. I have gem installed, I don't know how you fixed this, the error I get is:

Syntax error: Undefined operation: "Infinity times 16px 78px".
        on line 52 of /home/rajib/.rvm/gems/ruby-1.9.3-p392/gems/modular-scale-1.0.6/stylesheets/_modular-scale.scss

The sass code I am calling from is:

$ratio: perfect-fourth();

[2013-10-07 11:19] ghost commented on #50
Just tested with golden() and this error doesn't show... I guess this is some issue with perfect-four(), or others.

$ratio: golden();
$base-font-size: 16px !default;
$importantNum: 78px !default;
$base-size: $base-font-size $importantNum;

works perfectly fine.

[2013-10-13 14:20] ghost opened #57 "Undefined operation: Infinity times for perfect-fourth()"
The error I get is:

Syntax error: Undefined operation: "Infinity times 16px 78px".
on line 52 of /home/rajib/.rvm/gems/ruby-1.9.3-p392/gems/modular-scale-1.0.6/stylesheets/_modular-scale.scss

The sass code I am calling from is:

$ratio: perfect-fourth();
$base-font-size: 16px !default;
$importantNum: 78px !default;
$base-size: $base-font-size $importantNum;

Instead of perfect-fourth() if I use

[2013-10-18 15:49] Jtiem opened #58 "Undefined operation power"
Undefined operation: "power(minor-sixth(), 1) times 16px".)

I am going around and around trying to fix this error. I have been able to get past it before some how but for the life of me I cannot now.

I have installed gems for modular-scale and sassy-math and configured the config.rb file to require modular-scale.

Please help.

[2013-11-23 04:50] ellioseven opened #59 "Bower installs wrong version?"
When I run:

<code>bower install modular-scale</code>

It shows installs 0.0.4, and I can't seem to get 1.0.6?

If I run:

<code>bower info modular-scale</code>

I get:

<pre>cached git://github.com/Team-Sass/modular-scale.git#0.0.4
validate 0.0.4 against git://github.com/Team-Sass/modular-scale.git#*
</pre>

I have just started using git & bower so maybe I am doing it wrong, but it seems like I a

[2013-12-06 08:37] lolmaus opened #60 "Generating font sizes for headings, constrained by a maximum size for h1 and a minimum size for h6?"
In most of my projects i'm using a mixin to generate font sizes for headings.

It accepts the maximum and minimum font-sizes for h1 and h6 respectively and generates font-sizes evenly:

[code]

Result:

![screenshot](http://i.imgur.com/99MRbSZ.png)

The mixin is super simple:

[code]

I've been wondering how to include support for modular scale to this mixin. I wish that the distribution of sizes

[2013-12-06 14:36] lolmaus commented on #60
Okay, i wasted half of my day but i did manage to code the mixin! :D

Here's the source: https://gist.github.com/lolmaus/7825675

Here's example usage:

[code]

Here's the result:

![screenshot](http://i.imgur.com/PyadFSQ.png)

I'm leaving this open for you to consider including this into modular-scale.

[2013-12-06 14:58] scottkellum commented on #60
Out if scope of this particular project although I encourage you to create a new project with this.

[2013-12-06 14:58] #60 closed, assigned to nobody

[2013-12-06 15:09] lolmaus commented on #60
Thanks for replying @scottkellum!

It's a tiny snippet, do you think it's reasonable to start a separate extension?

As a Sass enthusiast, i've got a number of such little snippets. I was also considering to release a batch extension like Toolkit and [Scut](http://davidtheclark.github.io/scut/), but my collection of snippets is too small for this as well.

So i'm just keeping them in partials, cop

[2013-12-06 15:12] scottkellum commented on #60
@lolmaus You can start with a personal framework and it will grow. Publish it or not at least you won’t be copy/pasting :)

[2013-12-06 15:16] lolmaus commented on #60
@scottkellum You keep abusing the word "framework". :P

Thank you for an encouragement, i'll do create an assorted extension. Gonna push to Github&RubyGems because it's more convenient for personal use as well.

[2013-12-15 23:41] rpkoller opened #61 "Would it make sense to be able to create more than one scale for a single project?"
I am playing around with the combo modular scale alongside the compass vertical rhythm module. If you would like to try to apply different base sizes like on the ia.net homepage with a  small base size for small viewports and a larger base size for desktop sized viewports i ask myself two questions:
- If you try to build a layout like the ia.net page with a single scale it would be like ms(-1) (or

[2013-12-16 13:58] scottkellum commented on #61
@rpkoller I don’t actually use Compass vertical rhythm but modular scale is calculated on the fly so you could easily do ms(0, 12px) for smaller viewports and ms(0, 16px) for larger viewports.

A better solution might be to use ems or rems in your layout which allows you to scale everything by changing the `font-size` on the `html` element. This works really well with modular scale but I don’t thi

[2013-12-16 13:58] #61 closed, assigned to nobody

[2013-12-16 21:03] rpkoller commented on #61
Played a little around with it and i guess everything seems already work outside of the box.  http://sassmeister.com/gist/7992795 . The only thing not working is on the compass side that if you are defining two baselines that it might have issues to stick to the right one. in my example the values for the 750px breakpoint get applied to the base one. But aside that things seems to work flawless. I

[2013-12-21 17:14] rpkoller commented on #58
I ran into a similar issue:

 error style.scss (Line 131 of _vertical_rhythm.scss: Undefined operation: "2 times ms(0)".)

Is it maybe a Compass issue that plugins even they are properly imported aren't recognized anymore?

[2013-12-21 18:05] scottkellum commented on #58
Modular Scale 2.0 will fix this. You can install it with `gem install modular-scale --pre` but I still need to update docs

[2013-12-21 18:43] rpkoller commented on #58
Cool version 2.0 is ready and only updated docs missing. The only thing what confuses me why modular scale 1.x doesn't show that behaviour in every project.Happened only in one so far. Will give the pre version a try later today. Thanks!

[2013-12-21 22:03] scottkellum commented on #58
@rpkoller sounds like a dependency issue with Sassy Math.

[2013-12-22 01:30] rpkoller commented on #58
@scottkellum i've updated to the prerelease version. Before only one project failed. Now all projects fail preprocessing. :/

The odd project i've mentioned before sticks to the error message:

[code]

one other projects which worked under 1.x before throws the following error:

[code]

Hm and Sassy Math is installed. The strange part is it worked for weeks without a problem and from one day to an

[2013-12-22 01:46] scottkellum commented on #58
@rpkoller Just pushed an update 2.0.0.alpha2 that might help.

Also ratios are stored as variables now `$golden` not functions `golden()` in this version. I think that might be the only big user facing change.

[2013-12-22 01:53] rpkoller commented on #58
@scottkellum thanks for the quick followup! I will change the ratios to variables now. And a bit of an embarrassing question. How do you update prerelease gems? i thought it would be shown under gem outdated, but it is not? Do i just have to retype gem install modular-scale --pre ? Best regards Ralf

[2013-12-22 02:10] scottkellum commented on #58
@rpkoller Yeah, `gem install modular-scale --pre` should do it for you. You may have to `gem uninstall modular-scale` to uninstall previous versions. (I’m not super well versed in this stuff myself).

[2013-12-28 13:08] rpkoller commented on #58
@scottkellum sorry for the delayed answer but i had no access to my computer the last week and had to leave in more or less of a hurry so i had no Github login credentials on my comp nor it would have helped since i would have been unable to test things.

Did that now with Alpha 2 finally but i get:

[code]

It is error'ing more or less on the first occurrence of a scale variable:

[code]

The who

[2013-12-28 15:33] scottkellum commented on #58
@rpkoller can you type `gem list modular-scale` in your terminal and let me know what it returns?

[2013-12-28 15:38] rpkoller commented on #58
@scottkellum it returns (i've uninstalled alpha1 first before i've intalled alpha2 like you recommended)

[code]

[2013-12-29 02:39] scottkellum commented on #59
Bower is now on v2 which is not documented but far easier to deal with. Will update docs soon.

[2013-12-29 02:39] #59 closed, assigned to nobody

[2013-12-29 02:40] scottkellum opened #63 "variable issues in 2.0"
@scottkellum sorry for the delayed answer but i had no access to my computer the last week and had to leave in more or less of a hurry so i had no Github login credentials on my comp nor it would have helped since i would have been unable to test things.

Did that now with Alpha 2 finally but i get:

[code]

It is error'ing more or less on the first occurrence of a scale variable:

[code]

The who

[2013-12-29 02:41] scottkellum commented on #58
@rpkoller Lets discuss over at #63.

[2013-12-29 02:43] scottkellum commented on #63
@rpkoller I had an error in alpha2 that I fixed in alpha3, so you need to update. With the latest pre release of Sass 3.3 and Compass this should work and return `61.03516px`:

[code]

[2013-12-30 00:59] rpkoller commented on #63
@scottkellum ufff somehow the whole thing is driving me crazy. i had the impression that somehow my installed gems were a bit buggy in combination. so i've cleaned everything and only installed the most basic setup necessary to follow your described steps for debuging:

[code]

which lead to the following

[code]

when i tried the code snippet everything worked fine: i've received 61.03516px for m

[2013-12-30 02:09] scottkellum commented on #63
@rpkoller The pre release version of modular scale should work perfectly fine with libsass, stable channel Sass, and pre-release version of Sass.

You can download the latest 2.0 release and paste it into your project directly if you don’t want to deal with gem stuff: https://github.com/Team-Sass/modular-scale/releases/latest

Still under development but it works for me in tests in these environme

[2013-12-30 05:08] scottkellum commented on #58
[Should be fixed in 2.0](https://github.com/Team-Sass/modular-scale/blob/2.x/readme.md)

[2013-12-30 05:08] #58 closed, assigned to nobody

[2013-12-30 05:09] scottkellum commented on #57
[Should be fixed in 2.0](https://github.com/Team-Sass/modular-scale/blob/2.x/readme.md). Please reopen if it isn’t.

[2013-12-30 05:09] #57 closed, assigned to nobody

[2013-12-30 05:10] scottkellum commented on #55
done

[2013-12-30 05:10] #55 closed, assigned to nobody

[2013-12-30 05:11] scottkellum commented on #49
fixed

[2013-12-30 05:11] #49 closed, assigned to nobody

[2013-12-30 05:12] scottkellum commented on #54
[Should be fixed in 2.0](https://github.com/Team-Sass/modular-scale/blob/2.x/readme.md). Please reopen if it isn’t.

[2013-12-30 05:12] #54 closed, assigned to nobody

[2013-12-30 05:12] scottkellum commented on #46
its done

[2013-12-30 05:12] #46 closed, assigned to nobody

[2013-12-30 05:12] scottkellum commented on #33
[Should be fixed in 2.0](https://github.com/Team-Sass/modular-scale/blob/2.x/readme.md). Please reopen if it isn’t.

[2013-12-30 05:12] #33 closed, assigned to nobody

[2013-12-30 14:21] scottkellum opened #65 "Double standard infinite loop in Libsass"
Something in this loop isn’t working, the counter doesn’t seem to be changing the result causing an infinite loop.

https://github.com/Team-Sass/modular-scale/blob/2.x/stylesheets/modular-scale/_generate-list.scss#L25-L29

[2013-12-30 20:11] VinSpee opened #67 "Shorthand for unit output"
In compass's vertical-rhythm module, you're required to provide values to vertical-rhythm's mixins in `px`. When using modular scale along side of vertical-rhythm, this becomes a pain, because every time you want to provide a horizontal value (margin, padding, etc), you must also specify a unit. [Here's an example](http://sassmeister.com/gist/8187264).

As a work-around, I've implemented an msem()

[2013-12-30 21:22] scottkellum commented on #67
So there are a few things of note here.
1. `$base-size` conflicts with the `$base-size` variable in the Compass vertical rhythm module. In 2.0 this variable is changed to `$ms-base` to avoid this conflict and allow you to specify `$base-size` in pixels and `$ms-base` in whatever. Maybe resolving this variable conflict alone will solve your issue?
2. You have two modes in play at the same time. Do

[2013-12-30 22:26] rpkoller commented on #63
@scottkellum i guess the reason why it hasn't worked before was more the combination of gems (and their beginning transition to Sass 3.3. and Compass 1.0) i've used on the stable sass/compass branch i suppose, since everything worked properly in the test case as i've posted in my last comment.

And i completely understand the difficulty of the transition process  maintaining gems for the upcoming

[2013-12-30 22:50] scottkellum commented on #63
Yeah, Sass 3.2.x and Compass 0.12.x go together and Sass 3.3.x and Compass 1.0.x go together. Can’t mix and match them.

Last version of Singularity [should be 1.1.1](http://rubygems.org/gems/singularitygs) but the latest should work in Sass 3.2.x + Compass 0.12.x. Singularity 1.2 is where the upgrade should take place. We need to get that changelog up soon…

No worries on anything, just trying to

[2013-12-31 01:26] rpkoller commented on #63
hmm i've installed breakpoint 2.07 and modular scale alpha 4 now alongside sass 3.2.13 and compass 0.12.2. and everything works fine in a stripped down testcase!

but i have two problems left. somehow singularity install depends on sassy-maps no matter if i try to install singularity 1.08 or 1.1.2. . i always get:

[code]

But i had Singularity installed before in that environment and it worked  :

[2013-12-31 01:49] rpkoller commented on #63
Ok Singularity is working even that the install shows an sassy-maps dependency error, but Singularity is installed anyway and it seems properly working too. Strange but anyway. ;))) The only thing i haven't managed to get going again is Toolkit. :(

[2013-12-31 03:50] scottkellum commented on #63
@rpkoller Please open up this issue on those repos so all maintainers can be aware of them.

[2013-12-31 09:04] rpkoller commented on #63
@scottkellum True. That's the better way to deal with the remaining issues. Done, posted separate issues on each issue tracker. I guess the issue here could be closed then since things work fine with Modular Scale now thanks to your fixes and advice. :) Thanks again!

[2013-12-31 14:19] #63 closed, assigned to nobody

[2014-01-01 17:30] rpkoller opened #68 "NoMethodError on preprocessing: undefined method `keep_if'"
I have the following setup in my modular scale setting partial (using ms 2.0 alpha 4):

[code]

When i try to preprocess the project i get the following on compass watch --trace:

[code]

If you need any further infos let me know. Best regards Ralf

[2014-01-01 17:32] rpkoller commented on #68
Also happens if i comment out the second scale computation and only go with the basic one at first.

[2014-01-01 22:36] rpkoller commented on #68
Ok using negative values as input for ms() seems to be the problem. if i comment out those lines everything works.

[2014-01-02 16:26] scottkellum commented on #68
Thanks, sounds like an issue in my Ruby calculator. I will check it later.

[2014-01-02 17:35] scottkellum commented on #65
fixed

[2014-01-02 17:35] #65 closed, assigned to nobody

[2014-01-02 17:37] scottkellum opened #69 "Check ms-list values"
Some incorrect values are resulting, looks like the loop is missing some numbers from the secondary base including the base itself.

test case:

[code]

[2014-01-02 17:38] scottkellum commented on #67
@VinSpee @yodasw16 Please look at this and discuss here. I need to track this here, not Twitter.

[2014-01-02 18:02] VinSpee commented on #67
Will do - I haven't had a chance to get back to it as I'm on my honeymoon, but I will as soon as I get back.

On Thu, Jan 2, 2014 at 11:38 AM, Scott Kellum notifications@github.com
wrote:

[2014-01-02 18:23] scottkellum commented on #67
@VinSpee ah, happy honeymoon!

[2014-01-03 16:03] scottkellum commented on #69
@canarymason This is a good place to get pretty deep into the new codebase. Basically I generate lists of all the possibilities and then merge-sort them into place (why merge sort? because they are already sorted lists and half the work is done).

This issue seems to be with the bounds of the loops that generate those lists: https://github.com/Team-Sass/modular-scale/blob/2.x/stylesheets/modular-s

[2014-01-04 18:57] rpkoller opened #70 "ms-generate-list is returning some mixed through results"
This might be related to: https://github.com/Team-Sass/modular-scale/issues/69

If i try the following on ms-generate-list (alpha 4):

[code]

The results look a bit odd:

[code]

The values are first rising for the first scale then break down and rise again. maybe the scale values are not properly sorted and also not merged with the values of the second scale in the next step?

[2014-01-04 21:42] scottkellum commented on #70
dupe of #69

[2014-01-04 21:42] #70 closed, assigned to nobody

[2014-01-04 23:12] scottkellum commented on #70
Reading this again, `ms-generate-list` is not a user-facing function. That output is correct. You should be using `ms-list` instead.

`ms-generate-list` is the raw list of possibilities and has not gone through the sorting process yet.

[2014-01-05 11:32] rpkoller commented on #70
ups ok! sorry...

[2014-01-05 11:45] rpkoller commented on #69
aside the missing secondary base value another pattern is showing - a shift in negative values. according to the calculator on modularscale.com you would expect 8.192 and 8.000 with your test values:

http://modularscale.com/scale/?px1=10&px2=16&ra1=1.25&ra2=0

but the shown values are shifted. instead of displaying the negative values at position 1 and 2, position 3 and 4 get displayed. things be

[2014-01-07 10:33] timgluz opened #71 "[enhancement] Add missing bower.json."
#### Hey, maintainer(s) of Team-Sass/modular-scale!

We at [VersionEye](https://www.versioneye.com/signup?promo_code=BOWER) are working hard to keep up the quality of the bower's registry.

We just finished our initial analysis of the quality of the Bower.io registry:

**7530** - registered packages, _224_ of them doesnt exists anymore;

We analysed **7306**  existing packages and  **1070** of the

[2014-01-07 14:45] scottkellum commented on #71
@timgluz This should be resolved now. Can you please add to the Bower docs that the branch in question must be the master. The default branch here was “2.0” not “master” and according to the Bower docs, Bower looks at the origin, not the “master” branch.

I made the naming changes here and created a new issue for you on Bower github: https://github.com/bower/bower/issues/1035

[2014-01-07 14:45] #71 closed, assigned to nobody

[2014-01-07 14:47] timgluz commented on #71
Thanks.

default branch doesnt has to be `master` - it was my mistake - github resolves default_branch correctly and this isnt actually problem;

[2014-01-08 21:19] scottkellum opened #72 "Better way to handle abstraction"
“We have to hand the files off to the client so I’m a little concerned with the extra level of abstraction it adds.”

https://twitter.com/brainvsbraun/status/421026878959652864

[2014-01-12 14:29] scottkellum commented on #69
Should be fixed now

[2014-01-12 14:29] #69 closed, assigned to codingdesigner

[2014-01-12 14:30] scottkellum commented on #67
@VinSpee Hope your honeymoon went/is well. Just want to bump this thread as we are getting closer and closer to release. @yodasw16

[2014-01-12 14:31] VinSpee commented on #67
Coming home tomorrow - I'll get on this as soon as I'm back in gear!

On Sun, Jan 12, 2014 at 8:30 AM, Scott Kellum notifications@github.com
wrote:

[2014-01-12 14:44] scottkellum commented on #72
Thinking about this more, I think this is a simple mental model issue. The same issue people have who think in pixels and are forced to use em or rem. You could put comments next to every function explaining the calculations being made but ms() is essentially a unit on a non-linear scale and it is difficult to translate this mental model.

The best way to explain this is through education. We are

[2014-01-12 15:00] scottkellum commented on #68
Should be fixed now

[2014-01-12 15:35] rpkoller opened #73 "Weird error on the install of alpha 5"
Tried to install alpha 5 after reading about the latest commits. But on install some odd error showed up. just wanted to let you know, aside the fact that it worked on the second try. gem threw the following at me:

[code]

then i tried a second time.

[code]

[2014-01-12 15:44] rpkoller commented on #68
@scottkellum hmmmmm i've tried alpha5, assuming my installed version was installed properly regarding the other issue i've posted few minutes ago, then the issue with the keep_if method still persists on my side :(

i've did another trace in the terminal:

[code]

if you need any more infos let me know.

[2014-01-12 16:03] scottkellum commented on #73
I am unable to replicate this. You may want to try using [Bundler](http://bundler.io/) to manage your gems.

[2014-01-12 16:06] scottkellum commented on #68
I am unable to replicate this in Compass 0.12 and Sass 3.2.

Please try using Bundler to manage your gems.

[2014-01-12 16:18] rpkoller commented on #68
only problem is i am using codekit and i thought bundler wouldn't work with it?

[2014-01-12 16:52] scottkellum commented on #68
@rpkoller I would install via copying the latest release into place. Managing gems via codekit is unfortunately difficult.

[2014-01-12 16:52] #68 closed, assigned to nobody

[2014-01-12 16:57] #73 closed, assigned to nobody

[2014-01-12 18:50] rpkoller commented on #68
damn so far i rely onto Codekit for live reload, minification, preprocessing and so on. :(

[2014-01-13 00:47] scottkellum commented on #68
Sorry :( it should work just fine when copy/pasted into place. You can also use Bower. So many install options.

[2014-01-13 01:06] rpkoller commented on #68
@scottkellum oh bower works as standalone too? always had in the back of my mind that ruby is somehow required therefor i thought the errors would happen in every installation scenario. but well installed with bower one second ago and changed settings on my testproject from ms v1 to ms v2 and everything works fine now! cool cool cool. i am glad and relieved :)

on a side note the lists display fin

[2014-01-13 15:18] scottkellum commented on #68
@rpkoller As of v2.x ruby is no longer required for modular scale. It even works with Libsass!

[2014-01-16 14:56] Snugug opened #74 "Negative Steps return Step 1"
When using Modular Scale 2.0.0.alpha5, I call the following function:

[code]

The first two items return the same number, that being the ratio. The third produces a different number. Having tested this, any negative number will produce the same result as step 1.

[2014-01-17 00:23] equivalentideas opened #75 "Multibase scale bug"
Using scale:

[code]

@debug ms-list(0, 2, $ms-base, $ms-ratio);

returns:

[code]

but when calling scale 1 with:

[code]

The processed CSS appears as:

[code]

In other words it's skipping to scale 2.

[2014-01-18 00:05] scottkellum commented on #74
Can you tell me what your output is? I am unable to replicate this.

[code]

[code]

[2014-01-20 14:27] Snugug commented on #74
I'm working on Singularity Extras and trying to debug the `ratio-spiral` issue (returns a string instead of a list of numbers) and am using the Compass version of Modular Scale (so the Ruby functions). Maybe the problem's in the Ruby functions, not the Sass functions?

[2014-01-23 02:38] scottkellum commented on #67
@VinSpee @yodasw16 Bump

[2014-01-23 03:02] yodasw16 commented on #67
I think this might actually be an issue to file with vertical rhythm in compass instead of here. You already have the ability to set em or px in modular scale. The problem is that VR requires a pixel input. That's my thoughts anyway.

Should let @vinspee chime in before closing this, but I think we are on the same page.

[2014-01-23 16:27] VinSpee commented on #67
Yeah after considering this one pretty seriously, i think the only real fix is to change Compass's Vertical Rhythm module. Sorry for the noise.

[2014-01-23 16:27] #67 closed, assigned to nobody

[2014-01-25 11:45] perceptbe opened #76 ""golden()" is not a number for `pow'"
I'm experimenting with modular-scale and I'm running in to trouble ...

I included modular-scale, defined the required variables

[code]

but when I add

[code]

I get the following error:

error sass/my.styles.scss (Line 9 of _calc.scss: "golden()" is not a number for `pow')

What am I missing here?

[2014-02-08 06:29] scottkellum commented on #76
What version of modular scale are you running? Did you install this via the gem or copy and paste the SCSS into your project?

[2014-02-08 06:44] #74 closed, assigned to nobody

[2014-02-14 23:30] pastinepolenta commented on #76
Same here. Installed via gem. "gem list" shows:
modular-scale (2.0.4, 1.0.6)

and after "gem cleanup modular-scale" I have only the 2.0.4 and the error is still there

Sorry , my bad. I was still using golden() instead of $golden in some of my sass files.

[2014-02-15 14:40] scottkellum commented on #76
Thanks @stilllife00.

@percept- Can you follow these [upgrade instructions](https://github.com/Team-Sass/modular-scale#upgrading-from-1x-to-2x) and let me know if that fixes your issue?

[2014-02-18 19:02] perceptbe commented on #76
@scottkellum Installed via gem. "gem list" showed
modular-scale (2.0.0.alpha5, 1.0.6)

now it's fine with only the 2.0.0.alpha5

[2014-02-18 19:02] #76 closed, assigned to nobody

[2014-02-19 08:32] pyrsmk opened #77 "node-sass and round()"
Hi!

I'm planning to use `node-sass` command with a project, but I'm issuing this following error in `modular-scale/stylesheets/modular-scale/_pow.scss` :

[code]

If I'm right, `libsass` (and therefore `node-sass`) doesn't include compass by itself like `sass` executable does. Also, I'm not using it but `bourbon`. How can I make this to work?

[2014-02-19 12:46] scottkellum commented on #77
Are you using non-integer numbers in the ms function? like `ms(3.4)`?

If your answer is no, then don’t worry about this, it will work fine. Please see the [compatibility notes](https://github.com/Team-Sass/modular-scale#compatibility) for more detail.

[2014-02-19 12:46] #77 closed, assigned to nobody

[2014-02-19 12:54] pyrsmk commented on #77
But my answer is definitely yes :) Perhaps I didn't understand exactly how to use modular scales in my responsive designs... But I need grained results to have golden ratios at each level of my design (font-size, margins, line-heights, ...).

Should it work if I set a `ms-base` at `0.001rem` per example?

[2014-02-19 13:04] scottkellum commented on #77
You may want to have multiple values for ms-base. You can learn more about double standard scales here: http://alistapart.com/article/more-meaningful-typography

Non-integer values don’t really fall at the set intervals of the scale. Don’t get me wrong, I have used them as well, but it’s best to try to avoid them. Double standard scales provide a parallel scale that matches proportions at a differ

[2014-02-19 13:09] scottkellum commented on #77
I would love to have a better pow() function outside of Compass but the algorithms for calculating non-integer exponents are just not worth it.

[2014-02-21 09:37] pyrsmk commented on #77
Thanks for your anwers, I read this article and it clarifies some things to me. I'll try to set a double standard scale in my website, then.

Also, I'm the author of [vertical-rhythmic](https://github.com/pyrsmk/vertical-rhythmic). I'm doing a complete rewrite of the library and trying to have a great compatibility with modular-scale. That's why I'm doing several tests to well see how the whole th

[2014-02-21 17:49] scottkellum commented on #77
Sounds good. Yeah the variable changes I made in v2 were to make things play nice with Compass vertical rhythm. Good luck with your project.

[2014-02-21 18:12] pyrsmk commented on #77
Thanks, I've just pushed the new version. You could take a look if you want, and maybe modify the modular scale documentation part if it seems wrong to you ;)

[2014-02-24 09:22] DornieDortsch commented on #75
The bug still exists on negative values

[code]

@debug ms-list(-2, 0, $ms-base, $ms-ratio);

returns:

[code]

but when calling scale -1 with:

[code]

The processed CSS appears as:

[code]

Same behavior, it's skipping to scale -2.

[2014-02-26 04:01] avocadesign opened #78 "Invalid ASCII Character warning"
I'm getting this warning on OSX which is stoping SCSS compiling.

 /Library/Ruby/Gems/2.0.0/gems/modular-scale-2.0.4/stylesheets/modular-scale/_pow.scss: Invalid US-ASCII character "\xE2"

After looking at this thread - https://github.com/csswizardry/inuit.css/issues/270
it looked like it could be a single quote character.

On line 31 of that file there is a ' in "don't" - if I remove it the warni

[2014-02-26 04:08] avocadesign commented on #78
Just to be clear - I'm compiling the SCSS with grunt and the built in watch and compass tasks

[2014-03-07 20:19] michelvermeulen commented on #68
Hi,

I have the same issue when I compile my SASS files as a Git hook, whenever I have negative values like ms(-2) :

NoMethodError on line 118 of /var/lib/gems/1.8/gems/modular-scale-2.0.4/lib/modular-scale.rb: undefined method `keep_if' for #Array:0x7fdac2554ca0

The weird thing is it happens when I push from my computer, but if I execute the hook on my remote machine, it compiles correctly.

Do

[2014-03-08 04:38] scottkellum commented on #68
@vermichou If you are upgrading from an older version, please follow the upgrade steps: https://github.com/Team-Sass/modular-scale#upgrading-from-1x-to-2x

[2014-03-12 12:59] equivalentideas opened #79 "custom ratio causes compass watch to hang"
When I use a custom variable Compass says the file was modified, then does not resolve to an error or compilation.

[code]
## Gemfile

[code]

[2014-03-12 14:29] scottkellum commented on #79
try `$my-ratio: (1 / 3.14159265);`

[2014-03-12 20:41] equivalentideas commented on #79
Doesn't help unfortunately.

[2014-04-13 16:20] scottkellum commented on #72
Handlining via another project

[2014-04-13 16:20] #72 closed, assigned to nobody

[2014-04-13 16:22] scottkellum commented on #75
@equivalentideas, @DornieDortsch: How are you running modular scale? What version of Sass/libsass? Installed via Compass or another method?

[2014-04-13 16:56] scottkellum commented on #75
unable to replicate in any version: http://sassmeister.com/gist/10592343

[2014-04-13 17:13] scottkellum commented on #79
You need a ratio greater than 1. I will keep this open to check and inverse the ratio if it is less than 1.

[2014-04-13 17:14] scottkellum commented on #79
You ratio should be `3.14159265`.

[2014-04-13 17:23] #78 closed, assigned to nobody

[2014-04-14 11:54] equivalentideas commented on #75
Sorry I should have closed this, I updated and this was no longer occurring. My bad, thanks @scottkellum :)

[2014-05-28 11:38] jdhoek opened #80 "Mismatch betweet git tag and bower.json version numbers"
Git tag `v2.0.5` points to a `bower.json` that says `"version": "2.0.3",`. This causes bower to issue a warning about this mismatch when installing modular-scale with `bower install --save modular-scale`.

Could you update `bower.json`'s version for future releases?

[2014-05-28 11:43] jdhoek commented on #80
Also, git tag `2.0.4` should be `v2.0.4`.

[2014-05-28 15:15] #79 closed, assigned to nobody

[2014-05-31 00:44] scottkellum commented on #80
thanks, updated bower.json to the latest version

[2014-06-01 08:43] jdhoek commented on #80
My apologies, it seems my comment about the git tags wasn't entirely clear and caused you some confusion. With `v2.0.4` I was referring to the git tags in this repository, as they are used by Bower to resolve versions. After that Bower downloads the tagged commit, and reads it `bower.json`.

In `bower.json` the version number should read `2.0.5` (customarily without the `v`, although it works with

[2014-06-01 08:45] jdhoek commented on #80
By the way, the modular-scale SASS works great. Nice to have this available from Bower.

[2014-06-01 15:22] scottkellum commented on #80
Thanks for bearing with me @jdhoek. It’s probably pretty obvious I don’t actually use Bower.

I removed `2.0.5` and `2.0.4`. From your latest comment I assume the `v` is implied in the `bower.json`. In future releases I will remove it.

[2014-06-02 08:01] jdhoek commented on #80
My pleasure.

In Bower the version field is read with NPM's `semver` package, which accepts version numbers with `v` as well as without, but most packages I've come across (like `jquery` etc.) do without the `v`. It's probably all right to use `v2.6.0` in `bower.json` as well, just unconventional.

[2014-06-02 12:47] #80 closed, assigned to nobody

[2014-07-21 15:05] DornieDortsch commented on #75
Sorry for the late reply, but I run in the same error again. Negative values and multibase.

http://sassmeister.com/gist/41dbd8c5eccbf67de20a

[2014-07-21 17:33] scottkellum commented on #75
reopening

[2014-08-04 04:10] r007 opened #81 "Y'all really have disappoint me..."
I liked the old style with pixels, and now, instead of all these nice `12px 16px 21px 28px 38px 51px 67px 90px` I'm getting `1em 1.33333em 1.77778em 2.37037em 3.16049em` etc. The layout of my website is totally broken now. I don't want to rewrite tons of code just because someone decided that the dimensions in ems _would be better_. Instead, I opened the source code in hoping to find something lik

[2014-08-04 04:22] r007 commented on #81
Okay, I found the problem. Should be:

[code]

instead of

[code]

Sorry, my bad.

[2014-08-04 11:07] scottkellum commented on #81
@r007 In the future people might be more inclined to help if your tone were less accusatory and you actually titled the issue in a way that clearly outlines the issue. `Use px base instead of em` would have been much more appropriate. We have reasons for the change in our defaults.

Modular-scale has always been unit agnostic and will continue to be forever. You can plug in `12foobar` and it will

[2014-08-04 11:07] #81 closed, assigned to nobody

[2014-08-04 11:43] mashcode commented on #81
+1 ;)

[2014-09-03 09:06] WhateverMyNameIs opened #82 "Invalid CSS after "ms": expected "{", was (0)"
I am a complete Ruby, SASS beginner. I bought the Compass application which I use to watch and compile my project. I use the scss syntax.

When I added this piece of code

$ms-base: 1rem;
$ms-ratio: $golden;  // 1.618
ms(0);  //  1.000rem - $ms-base
ms(1);  //  1.618rem
ms(2);  //  2.618rem
ms(3);  //  4.236rem
ms(4);  //  6.854rem
ms(5);  // 11.090rem

I got undefined variable $golden. I googled

[2014-09-03 10:47] scottkellum commented on #82
To fix the issue with `$golden` it appears the stylesheet you are currently in does not have access to modular-scale. Try `@import 'modular-scale'`in your current stylesheet or make sure your stylesheet is linked to your main `screen.scss` file. Note that modular-scale must come before anything that uses it.

Then you have another issue that is returning this error: `Invalid CSS after "ms": expect

[2014-09-03 10:47] #82 closed, assigned to nobody

[2014-09-03 11:06] WhateverMyNameIs commented on #82
Hi Scott,
thank you for ur reply. I can't get the
$ms-ratio: $golden;
to work.

My screen.scss looked like this
@import "modular-scale";
@import "compass";
@import "./bootstrap/bootstrap.scss";
@import "./mysite/variables.scss";
@import "./mysite/base.scss";
@import "./mysite/typography.scss";
@import "./mysite/navigation.scss";
@import "./mysite/gallery.scss";
@import "./mysite/forms.scss";
@impo

[2014-09-03 11:53] scottkellum commented on #82
Something is wrong with your import or installation. Make sure you are on the latest version, `2.0.5`. For some reason

If all else fails, you can manually copy the modular scale files from the latest release: https://github.com/Team-Sass/modular-scale/releases/tag/v2.0.5

[2014-09-03 13:20] WhateverMyNameIs commented on #82
Scott,
I am not sure, where to copy the files.

I was searching through the files in Compass and the only files related to MS were on the following location
./Install/Compass/lib/ruby/compass_common/modular-scale-1.0.6/stylesheets
and there is just one file _modular-scale.

Should I copy the content of the zip (the scss files) there?

[2014-09-03 13:24] scottkellum commented on #82
You can copy the zip files directly into your project and link to modular scale from within your project.

[2014-09-03 13:29] WhateverMyNameIs commented on #82
Copying seems to solve the problem, no more error! Thank you so much for ur help. Wish u all the best!

[2014-09-14 11:37] scottkellum opened #83 "Responsive scale"
In responsive, the contrast between items on the scale may be too high or low. For example on small screens a smaller ratio can be used while on larger screens, larger ratios can be used to accommodate large type when possible while also allowing text to fit on screen.

Related: @gakimball [responsive modular scale](https://github.com/gakimball/responsive-modular-scale)

As far as implementation g

[2014-09-14 14:40] scottkellum commented on #83
Welp, changes in variable scoping is making this really hard to deal with across Sass versions.

[2014-09-14 17:42] scottkellum commented on #83
See progress here: https://github.com/Team-Sass/modular-scale/tree/responsive-scales

Integrated the Breakpoint API for context querying and context changing mixins.

[2015-01-12 14:20] scottkellum opened #86 "Round pixels"
`px` values were rounded in `1.x`, this functionality should be added again.

[2015-02-13 13:00] #86 closed, assigned to nobody

[2015-02-23 18:53] jakob-e opened #89 "Decimal powers and memoization"
Would it be possible to implement decimal powers to produce scales like these:
http://spencermortensen.com/articles/typographic-scale/

Maybe this could be done by switching to [mathsass](https://github.com/terkel/mathsass) and perhaps considering memoization to speed things up a bit.

Tests:
[memoization disabled](http://sassmeister.com/gist/1654cc3e5d96583a05a0)
[memoization enabled](http://sass

[2015-02-23 19:51] scottkellum commented on #89
I’ve done a bit of testing with this a while back and performance is just bad, even in libsass. I may re-visit but until we get native `pow()` in Sass I’m not convinced this is ready for production. Note that it works fine if you install via Compass because Compass has an actual `pow()` function that I detect for and rout through.

At the moment, I’d rather push on Sass to include this [much neede

[2015-02-24 17:47] sondr3 opened #90 "Any plans of publishing to NPM?"
I've started moving most of my front-end packages towards NPM instead of Bower and have found most of them there but modularscale-sass isn't available there, are there any plans to publish there?

[2015-02-24 17:57] scottkellum commented on #90
@sondr3 No, but if you shoot me a PR with details on how you want this to work I’ll definitely consider it. Unfortunately there are a lot of distribution channels. I’ll add the channels I know and use but I need to lean on the community to help if they want other distribution channels.

[2015-02-27 19:51] sondr3 commented on #90
I'll take a look the next few days.

[2015-03-04 22:30] scottkellum commented on #90
Leaving this here as an awesome PR that adds NPM https://github.com/yurivictor/typebetter/pull/10

[2015-03-06 19:52] scottkellum opened #91 "Publish to an eyeglass module"
https://github.com/sass-eyeglass/generator-eyeglass

make this happen

[2015-03-12 22:48] fstorr opened #92 "Rounding on some smaller values doesn't seem to be right"
Have a look at this scale: http://www.modularscale.com/?14,50&px&1.333&web&table Once you get lower than 7.879px the last 4 values are the same. I re-did the scale in Excel and got different results:

![modular scale in Excel showing different values from the ones generated on modularscale.com](https://cloud.githubusercontent.com/assets/169471/6629755/c77d501a-c8ce-11e4-88d6-47ae71529926.png)

I'v

[2015-03-13 13:33] scottkellum commented on #92
Thanks @fstorr, just to be clear this is a bug on the website modularscale.com? Is this also a bug on modularscale-sass?

[2015-03-14 18:08] DenisMir opened #93 "invalid operands for multiplication - libsass"
When trying to compile some scss files using the `ms` function I'm getting the `invalid operands for multiplication` error with libsass. With the normal sass implemented in ruby everything works fine. At the moment I am compiling with _node-sass_ which uses _libsass_ in version 3.1.0.

Is this a known error?

[2015-03-15 12:21] scottkellum commented on #93
I am unable to replicate this error. What settings are you using for modular scale?

[2015-03-15 14:55] DenisMir commented on #93
I'm sorry I have found the error. It was a bit down the stack in libsass. It lead to the ratio submitted to the `ms` function being an empty string which lead to the error mentioned above. The issue can be closed.

[2015-03-26 01:12] fstorr commented on #92
Dang. My bad—sorry. It's the site, not the Sass plugin.

[2015-03-26 01:12] #92 closed, assigned to nobody

[2015-03-26 11:03] jackmcconnell commented on #93
I'm also getting this when trying to do something like:
`padding: ms(5) ms(10) (ms(5) * 0.85) ms(6);`
Prepending round to the calculation doesn't fix it either.

In the libsass the error is: `invalid operands for multiplication`.
Using the built-in compiler in CodeKit, the error is: `Undefined operation: "ms-round-px(7.03125px) times 0.85"`.

I think this has something to do with the round functio

[2015-04-06 20:22] sondr3 opened #94 "$ms-range prints a bunch of DEBUG statements when compiling with libsass"
Hey, sorry for not following up on the last issue, kinda forgot about it. I'll look at it ASAP since I have a bunch of time off now.

However, I'm playing around with the `$ms-range` variable so I can use the `@include ms-respond` include to create some responsive type, however when I do this it makes `gulp-sass` output a bunch of DEBUG statements in the terminal:

[code]

I was wondering if you k

[2015-04-06 20:25] scottkellum commented on #94
Thanks for the report! Yeah probably some debug thing I left in that needs to be removed. Sorry about that.

[2015-04-07 23:17] cibulka opened #95 "Libsass 3 complains about syntax"
Hello, thanks for the great plugin!

I am using Modular scale through Bower with newly updated [sindresorhus/grunt-sass](https://github.com/sindresorhus/grunt-sass) (that uses Libsass 3.0 Beta).

After the update, I started receiving following error on compilation:

[code]

Line 38 of `_sort-list.scss` contains condition written as `@elseif` (not `@else if`). When I've inserted the required space,

[2015-05-16 01:13] donpinkus opened #98 "File to import not found in Rails 4"
I'm trying to use the modular scale gem with Rails 4.  However, after adding `@import 'modular-scale';` I get the error `File to import not found or unreadable: modular-scale.`
1. Add `gem "modular-scale"` to gemfile.rb
2. Run `$ bundle install`. Make sure gem is installed.
3. Add `@import 'modular-scale';` to application.css.scss

Are there other steps that need to happen when setting it up on Ra

[2015-05-16 02:00] scottkellum commented on #98
Are you using Compass with Rails 4? `require 'modular-scale'` should be added to your Compass config. If you are not using Compass I recommend using vanilla Sass install method: https://github.com/modularscale/modularscale-sass#vanilla-sass

[2015-05-19 13:52] ghost commented on #91
I'm taking a look at this now because I'd like to use modular scale as a dependency for an eyeglass module I'm creating.

As far as I can tell eyeglass simply requires the module's sass files to be in a directory called 'sass' under the module root.  As I see it there are two options:  Rename 'stylesheets' directory to 'sass' or create a new 'sass' directory with an index.scss file that @imports t

[2015-05-19 14:19] scottkellum commented on #91
@DominicBarnard Sounds great! Yeah agree renaming the dir to `sass` sounds cleaner.

I dig the idea of including the JS here. As you may note there is already Ruby code to speed up Compass compilation so something similar for Eyeglass would be super helpful as well as adding the functionality of non-integer values.

I appreciate you reaching out! I always worry about implementing things I don’t cu

[2015-05-19 14:30] ghost commented on #91
@scottkellum Awesome.  Yeah I know what you mean.  Today is my first go at using eyeglass but if it works out I'll be looking to use it for all my sass stuff as far as I can as I love the idea of a single package manager to rule them all.  So I'll be sure to test it through as much as I can before I PR.  The straight sass version should be fairly simple to get going and I'll look in to a js versio

[2015-05-27 12:19] fchristant opened #99 "Is @modular-scale-classes included?"
This article about modular scale....

http://thesassway.com/projects/modular-scale

...mentions a mixin @modular-scale-classes which supposedly generates classes. I have a working modular scale setup but it keeps telling me this mixin is undefined. I was wondering whether that is by design or whether I should look for issues in my setup specifically?

Whilst asking this question, I am hoping I can

[2015-05-27 23:40] pushontom commented on #94
@scottkellum

It's in https://github.com/modularscale/modularscale-sass/blob/1d504ba8c802e83946e9df0ad95afe6543efde61/stylesheets/modular-scale/_respond.scss

Line 6, if you comment that it removes the output. Thanks for the work on this though, it's really useful

Removing this line improved compile time by 2s, so definitely worth fixing

[2015-06-01 20:16] Snugug commented on #91
I'm gonna tackle this

[2015-06-01 20:19] chriseppstein commented on #91
You don't have to rename your directory. Just set `sassDir: "<path to sass files>"` in the `eyeglass-exports.js` file.

[2015-06-01 20:34] #91 closed, assigned to nobody

[2015-06-01 21:18] scottkellum commented on #99
@fchristant Hey, this is a really old article and feature and it has been depreciated. I recommend going to [modularscale.com](http://modularscale.com/) if you want to find a list of values or write your own loop if you need to write classes with modular scales.

I’m among the mindset that attempting vertical rhythm is the road to madness, but working with the golden ratio and ems things will tend

[2015-06-01 21:38] fchristant commented on #99
@scottkellum Thanks, eventually I did write my own loop. It generates 10 precalculated classes on the golden ratio scale for font-sizes and bottom margins. I apply them in the markup based on gut feeling. I totally agree that vertical rhythm on the web just cannot be done, except for very trivial websites.

[2015-06-01 21:38] #99 closed, assigned to nobody

[2015-06-01 21:43] mashcode commented on #99
The tyranny of the pixel. Early on it was vellum. Aesthetic choices are always normalizing.
- I concur on v-rhythm

Marc

[2015-06-06 12:12] scottkellum commented on #94
So, I got distracted and I’m doing a pretty major overhaul of the `ms-respond` mixin. Basically fully fluid steps instead of jumps from each step. See http://madebymike.com.au/writing/precise-control-responsive-typography/

[2015-06-06 22:24] #94 closed, assigned to nobody

[2015-06-07 02:53] #95 closed, assigned to nobody

[2015-06-07 02:53] scottkellum commented on #90
@sondr3 does this work for you? https://github.com/modularscale/modularscale-sass#eyeglass

[2015-06-07 02:54] #98 closed, assigned to nobody

[2015-06-07 11:29] #90 closed, assigned to nobody

[2015-08-03 14:01] jackmcconnell commented on #93
Still getting this in 2.1.1.

[2015-08-03 14:06] scottkellum commented on #93
@voltronik thanks for the update, I’ll reopen this case.

[2015-08-30 17:16] scottkellum opened #104 "Core logic re-write"
Core logic re-write to better and more efficiently calculate multi-stranded logic. Depreciating multiple ratios in the process.

[2015-08-30 17:17] scottkellum commented on #75
This will be solved in 3.0.

[2015-08-30 17:17] #75 closed, assigned to nobody

[2015-08-30 17:18] scottkellum opened #105 "Config multiple scales at once"
Create a config for multiple scales in parallel. This is because multiple ratio support is being removed.

[2015-08-30 17:18] #104 closed, assigned to nobody

[2015-08-30 17:22] scottkellum opened #106 "Namespace all core functions and variables to avoid conflict"
Avoid conflict with 3rd party libs (like Bourbon etc) by better name spacing all vars and functions.

Syntax sugar can be applied on top.

[2015-08-30 17:23] scottkellum opened #107 "Abstract fluid sizing tools"
Abstract the logic behind responsive scales and generalize it to be better used with molten leading and other applications.

[2015-08-30 17:27] scottkellum opened #108 "Target size helper"
Generate ratios dynamically by selecting a target heading size instead of a ratio.

[2015-10-17 20:54] scottkellum commented on #89
Pushing this off to 3.1 or only enabling via external lib. Complexities of this feature are getting in the way of other important 3.0 work.

[2015-10-17 22:14] scottkellum commented on #89
Yup, you’ll be able to add this functionality easily in the next version by including a lib like mathsass, but not out of the box.

[2015-10-17 22:15] #89 closed, assigned to nobody

[2015-11-03 04:20] rizqinizamil opened #110 "How to use dual base-sizes instead of dual ratios"
Like title said, How to use dual base-sizes instead of dual ratios?

[2015-11-03 13:22] scottkellum commented on #110
@rizqinizamil If you want base sizes of 12px and 16px write it like this: `$ms-base: 12px 16px`

Dual ratios will be removed in version 3.0 but double stranded scales (dual base-sizes) will stay.

[2015-11-03 13:22] #110 closed, assigned to nobody

[2015-11-03 21:37] rizqinizamil commented on #110
Thank you for your respond.
I have another question, where I should put the breakpoints when I want to use `16px` for screen with `min-width: 60em` and `12px` for screen below it?

Thanks again.

[2015-11-03 21:49] scottkellum commented on #110
@rizqinizamil This will be available in 3.0 but 2.x only allows you to adjust the ratio. I suggest you use relative units to do this in 2.x. I’d suggest you use relative units in general as they make it really easy to adjust your rendered base size of any text.

[2015-11-04 03:01] rizqinizamil commented on #110
Ok. Thanks for your suggestion @scottkellum :)

[2015-11-08 20:43] #107 closed, assigned to nobody

[2015-11-08 20:44] #106 closed, assigned to nobody

[2015-11-08 20:44] #105 closed, assigned to nobody

[2015-11-09 01:06] #108 closed, assigned to nobody

[2015-11-12 22:10] strarsis opened #112 "Non-integer exponents"
Concerning non-integer exponents (pow).

There is a polyfill proposed as bitters/bourbon issue + gist on the web:
- https://github.com/thoughtbot/bitters/issues/167
- https://github.com/thoughtbot/bourbon/issues/717
- https://gist.github.com/davidkpiano/ad6e6771df050ff3727f
  I tried it out and it worked in libsass and ruby sass (without compass).

For eyeglass, the eyeglass-math module can be use

[2015-11-12 23:00] strarsis commented on #112
PR ready  ;-)
https://github.com/modularscale/modularscale-sass/pull/113

[2015-11-14 23:06] #112 closed, assigned to nobody

[2015-11-19 14:25] strarsis opened #114 "Declare an eyeglass version"
I get this message when compiling with sass

[code]

[2015-12-03 16:36] strarsis opened #115 "Vertical rhythm"
What scss module would work well with this for vertical rhythm?
It seems that modularscale already can do this on its own?
- [Compass Vertical Rhythm](http://compass-style.org/reference/compass/typography/vertical_rhythm/)
- [Sassline](https://sassline.com/)
- [vertical-rhythmic](https://github.com/pyrsmk/vertical-rhythmic)
- [Typesettings](http://typesettings.io/)

The different ms values per bre

[2015-12-03 16:46] scottkellum commented on #115
@strarsis You should be able to use this with other vertical rhythm plugins. I have no intention of adding 1st party support for vertical rhythm to this library. Some properties of the golden ratio allow vertical rhythm to happen naturally.

[2015-12-03 16:46] #115 closed, assigned to nobody

[2015-12-03 20:49] olivierbossel commented on #115
Check out sugarcss.io that helps you use vertical rhythm and modular scale :)

[2015-12-03 20:51] olivierbossel commented on #115
As well as a lot of others cool things!!

[2015-12-03 20:51] olivierbossel commented on #115
As well as a lot of others cool things!!

[2015-12-08 22:23] mattymess opened #116 "Unable to install via bower"
`bower install modular-scale --save-dev` no longer works and throws the following exception.

[code]

[2015-12-08 22:25] mattymess commented on #116
This isn't valid. Closing.

[2015-12-08 22:25] #116 closed, assigned to nobody

[2016-01-15 17:11] jackmcconnell commented on #93
Just coming back to this because I've come across it in another situation.
Doing this works:

`padding-top: (ms(3) * 2)`

...but doing this doesn't:

`$top-padding: ms(3);
padding-top: ($top-padding * 2)`

Any thoughts on why this might be?

[2016-01-19 13:28] jackmcconnell opened #118 "Possible Bug: Using ems or rems when body font-size is 100%"
I can't be sure if this is a bug yet or not but I thought I'd post here anyway and see if we can't work out what's going on together.

Basically, I'm trying to follow some best practices and have applied a font-size of `100%` to the body with a line-height of `normal` as recommend in [this article](https://www.filamentgroup.com/lab/how-we-learned-to-leave-body-font-size-alone.html).

I've always u

[2016-01-19 15:33] scottkellum commented on #118
I usually advise against the use of baseline grids in web design as it is the path to madness. There are a few, but very few, cases where they are actually useful.

Second, just so we are on the same page, is this similar to what you have? http://www.sassmeister.com/gist/d8765b69ff243cafee8b

I can say is that there will be rounding errors on rounded things, although that might not explain the ext

[2016-01-20 09:10] jackmcconnell commented on #118
Hi @scottkellum - thanks for your reply.

After some experimentation, it certainly looks like browser rounding has a part to play here.
I think that each time a value is being rounded, it's compounding the problem. An absolute unit (such as a pixel) is giving accurate measurements every time however.

After playing around with the function found on [this Stack Overflow thread](http://stackoverflow

[2016-01-20 15:36] scottkellum commented on #118
@voltronik You can adjust rounding precision in your compiler. I’ll think about including a precision setting in the plugin itself.

Is there any particular reason you need everything to be pixel-perfect to match your baseline grid? As I said in my first response, I’m not a big fan of them on the web as they are almost always totally useless for a variety of reasons.

[2016-01-20 18:55] jackmcconnell commented on #118
Thanks @scottkellum.
Ok, I've just tested this by rounding to 1 decimal place and the whole thing is still way out. It shouldn't be that far out being that the whole thing, when converted to px units, works perfectly so i can't see why rounding is the issue here.

In fact, when taking some screenshots, I'd say it looks more aligned with more decimal places than less. In Safari anyway.

I've always

[2016-01-20 19:36] scottkellum commented on #118
@voltronik If you still think it’s a bug and can replicate it in code I’d love to see what you are working with. Unfortunately I can’t make numbers with infinite decimal places work but if you think the problem is deeper than that please provide a code example so that I can replicate the issue.

[2016-01-20 20:53] kaelig commented on #118
Have you tried using calc to define the font-size in IE? It fixed rounding errors for me in the past.

Edit: here's the code that fixed the bug in the past:

[code]

[2016-01-21 08:16] jackmcconnell commented on #118
@kaelig Not sure how this would help as I'm using Safari? Also not sure how practical or maintainable it would be to do all font-sizes across the Sass file like this either.

@scottkellum I suppose I'm having a hard time understanding how rem or em units that have a directly translatable pixel value are causing rounding issues when using those converted pixel values aren't? Does the browser interp

[2016-01-21 12:08] scottkellum commented on #118
@voltronik Some notes on number rounding in the context of grids: http://ejohn.org/blog/sub-pixel-problems-in-css/

As soon as you round a number it looses it’s direct relation to a pixel counterpart and has to be rounded to get close to the nearest pixel, hopefully it aligns with the one you want. While `ms(1)` is a pixel value other values on your scale will not be integers and thus subtle diffe

[2016-01-21 13:40] jackmcconnell commented on #118
Thanks @scottkellum.
After much trial and error, it looks like it is indeed a rounding issue but not in modular-scale - in the browser.

I experimented with easily translatable rem / em units with a px baseline and, using a calculator, inputted numbers until I started to notice things go out and sure enough, as soon as a decimal place is introduced, things started moving out of alignment.

After s

[2016-01-21 13:40] #118 closed, assigned to nobody

[2016-01-21 18:47] kaelig commented on #118
Ah, sorry. This is what fixed rounding issues for me on theguardian.com when we were overriding the root font size.

[2016-01-22 08:34] jackmcconnell commented on #118
@kaelig Ah, I see. Thanks.

[2016-02-16 02:54] scottkellum opened #119 "rewrite target to not use unit hack"
parse `@` out of strings like in the website calculator. Harder but LibSass is choking on the unit parsing hack.

[2016-03-26 15:34] christiantype opened #120 "Trouble Installing Using Compass"
I am following the instructions below but can't seem to figure out the “compass config” part.

Compass
Terminal: gem install modular-scale
Compass config: require 'modular-scale'
SCSS: @import 'modular-scale';

[2016-03-26 19:47] scottkellum commented on #120
@christiantype What problems are you running into? Do you not have a `config.rb` file in your project?

[2016-03-27 01:07] christiantype commented on #120
Hi,

So I followed the instructions and did gem install modular-scale which was successful. I have the `config.rb` file in my project folder and I included  `require 'modular-scale'`

After this, I'm not sure what steps I should take.

Thanks for your reply

[2016-03-27 01:11] scottkellum commented on #120
@christiantype From here on out you can just put `@import 'modular-scale';` in any `.scss` file and modular scale will be available to you. Is that not working?

[2016-03-27 01:14] christiantype commented on #120
This is what's currently in my config.rb file which is located in a config folder.

`require 'compass/import-once/activate'

# Require any additional compass plugins here.

# Set this to the root of your project when deployed:

http_path = "/"
css_dir = "stylesheets"
sass_dir = "sass"
images_dir = "images"
javascripts_dir = "javascripts"
require 'modular-scale'

# You can select your preferred out

[2016-03-27 01:16] scottkellum commented on #120
@christiantype Are you seeing any errors in your console?

[2016-03-27 01:17] christiantype commented on #120
No. Should I be doing a compass watch?

[2016-03-27 01:18] scottkellum commented on #120
@christiantype Yes, it appears you have installed everything properly.

[2016-03-27 01:25] christiantype commented on #120
I added my project to github
[https://github.com/christiantype/christiansolorzano.com](https://github.com/christiantype/christiansolorzano.com)

[2016-03-27 01:27] scottkellum commented on #120
@christiantype ok… again, your project appears to be set up fine. Please run `compass watch` on it and let me know what errors you see when using modular scale.

[2016-03-27 01:29] christiantype commented on #120
`Christians-MacBook-Pro:config christians$ compass watch

No error messages :confused:

[2016-03-27 01:34] scottkellum commented on #120
@christiantype What exactly is the problem you are having? Again, everything you have posted indicates everything is working fine and is installed properly. Is the `ms()` function not working? When you try to use the plugin what happens that indicates to you that it is broken?

[2016-03-27 01:39] christiantype commented on #120
Well, when I add the `@import 'modular-scale';` I receive get
`error scss/style.scss (Line 5: File to import not found or unreadable: modular-scale.)
`

[2016-03-27 01:51] scottkellum commented on #120
@christiantype Now that’s an error we can work with.

What command did you use to install modular scale with? Did you add `sudo` at the beginning? Are you using http://bundler.io/ or RVM?

[2016-03-27 01:53] christiantype commented on #120
I didn't do `sudo` at the beginning — just `gem install modular scale.`

I don't believe I am using Bundler or RVM.

[2016-03-27 01:54] scottkellum commented on #120
@christiantype what did the console say after you ran `gem install modular scale` ?

[2016-03-27 02:01] christiantype commented on #120
You know, I just noticed that I was typing `gem install modular-scale` with a hyphen instead of a space. I'm not sure if that makes a difference but I just typed it again using `gem install modular scale` with a space, and I got this:

Christians-MacBook-Pro:cc christians$ gem install modular scale
Fetching: rack-1.6.4.gem (100%)
Successfully installed rack-1.6.4
Fetching: concurrent-ruby-1.0.1.ge

[2016-03-27 02:13] scottkellum commented on #120
@christiantype Should work after this install runs, let me know if it works.

[2016-03-27 02:14] christiantype commented on #120
Okay, so I guess the issue was that hyphen I was typing.

I noticed that in my config folder, a css folder appeared with style.css inside but still no modular scale

[2016-03-27 02:18] scottkellum commented on #120
@christiantype Are you seeing an error? I need to know what is wrong so I can help?

[2016-03-27 02:21] christiantype commented on #120
`error scss/style.scss (Line 5: File to import not found or unreadable: modular-scale.)
`

[2016-03-27 02:26] scottkellum commented on #120
@christiantype what does `gem list modular-scale` return in your terminal?

[2016-03-27 02:28] christiantype commented on #120
[code]

[2016-03-27 02:36] scottkellum commented on #120
oof, yeah, so it’s installed which means there is something else wrong. I noticed your config isn’t in the root of your project, how did you set up your compass project to point to the config there?

[2016-03-27 02:40] christiantype commented on #120
When I did `compass config`, it automatically placed config.rb, in that folder. Will it make a difference if I place it in the root of the project?

[2016-03-27 02:52] scottkellum commented on #120
@christiantype I downloaded your repo and wasn’t able to replicate your error. I managed to get everything working but it looks like you have a typo in that your config file has the [sass directory as `sass`](https://github.com/christiantype/christiansolorzano.com/blob/master/config/compass.rb#L7) but in your project [it’s `scss`](https://github.com/christiantype/christiansolorzano.com/tree/master

[2016-03-27 02:56] scottkellum commented on #120
@christiantype I’m gonna cut out for the night. To recap, I was able to get everything working in your project by following the install steps and by fixing a typo in the config file.

[2016-03-27 02:57] christiantype commented on #120
Okay, I'll keep trying to see what's the issue. Thanks for all your time and help. I appreciate it.

[2016-03-27 13:28] christiantype commented on #120
Made of video of what I am doing to install.

[https://www.youtube.com/watch?v=3Jc3Lpeka-I&feature=youtu.be](https://www.youtube.com/watch?v=3Jc3Lpeka-I&feature=youtu.be)

[2016-03-27 17:59] scottkellum commented on #120
@christiantype Looks like you are typoing the install again in that video by using a space instead of a hyphen. That install the gems `modular` and `scale`, neither of which are this gem.

Also, we have already confirmed that you have installed modular-scale correctly with `gem list modular-scale`. Your stylesheets are compiling without error as they should. Can you point me to an error message th

[2016-03-27 20:54] scottkellum commented on #119
done, but using 'at' still

[2016-03-27 20:54] #119 closed, assigned to nobody

[2016-03-27 21:29] christiantype commented on #120
I wasn't receiving any error message, I simply wasn't seeing the modular-scale.scss file appearing in my project.

I just went ahead and installed it using Bower and that seemed to work fine.

Sorry for all the questions — I'm new to designing for the web.

[2016-03-27 21:45] scottkellum commented on #120
@christiantype the file won’t show up via an install with Compass because it uses a load path internal to Compass instead of copying a file into your project. Anyway, glad you’re up and running now.

[2016-03-27 21:45] #120 closed, assigned to nobody

[2016-03-28 01:22] christiantype commented on #83
I love the responsive scales, I have a question though.

I set three ranges of

[code]

How exactly can I use
`@include ms-respond(font-size, 2);
`?

I am seeing my font-sizes responsive across various viewport sizes but I am not sure where these sizes are coming from? The `font-size` in `@include ms-respond(font-size, 2);` is coming from where? The second value which is the point in the scale tha

[2016-03-28 02:42] scottkellum commented on #83
@christiantype What are you trying to achieve here? Why did you choose these values for your range? I would like to gain a little more understanding as to your goal with this code so I can better help you in implementing it.

[2016-03-28 02:43] #83 closed, assigned to nobody

[2016-03-28 02:48] scottkellum commented on #83
@christiantype Also, feel free to open new issues for help as threads for implementing new features have different trajectories and goals than threads for help.

[2016-03-28 14:41] christiantype opened #121 "What do the values in @include ms-respond(font-size, 0); mean?"
I'm working on implementing the ms-ranges to my site. I set three three breakpoints:
desktop: 20em
tablet: 40em
desktop: 64em

As noted on the ms repo, the `$ms-range` includes a ratio and breakpoint.

Whichever ratio, I choose — what relationship does that ratio have to `$ms-ratio` that I use?

For example:
If my  `$ms-ratio` is set to `$golden`, and I set my `$ms-range` to `1 20em, 1 40em, 1.333

[2016-03-28 16:11] scottkellum commented on #121
Thanks @christiantype this gives me much more understanding into what you are trying to do.

First, lets get ranges sorted out. You only need to use breakpoints where a change happens, for example if you only want changes to take place at `40em` and `64em` then you only need to define those two points.

There is also no relationship between your default ratio and the ratio defined in your range un

[2016-03-28 20:41] scottkellum commented on #121
Let me know if that worked @christiantype so I can resolve this issue.

[2016-03-28 21:21] christiantype commented on #121
@scottkellum, thanks for the explanation.

So there is no need to use both   `font-size: ms(4);` and   `@include ms-respond(font-size, 4);
` to define, let's say a `h1`? The `font size` value in `ms-respond` is simply there to indicate that font-size is what is changed, correct?

Also, let's say I have a `p` that has `font-size:ms(0);` and when viewport falls below `64em`, how can I have that `p`

[2016-03-29 00:32] scottkellum commented on #121
Hey, apologies for the delay.

Yup! that’s correct. You plug in the property you want to change (font-size) and ms value (value): `@include ms-respond(property, value);`.

The value in the `ms()` function is not tied to range at all. Only the ratio and breakpoint are effected by your range. The `ms()` value is the location on your scale and the responsive scale is designed to keep relationships be

[2016-03-31 01:52] scottkellum commented on #121
@christiantype I’m gonna close this issue if you’re all set now.

[2016-03-31 01:52] #121 closed, assigned to nobody

[2016-03-31 03:00] christiantype commented on #121
@scottkellum, sorry for the late reply. All is good. Thanks for helping out.

[2016-04-11 23:32] alanontheweb opened #122 "Issues with bower on multiple Windows machines"
Hello there,

2 of my team members received the following error on separate Windows machines. It doesn't cause issues with Mac or Linux, as it seems related to the long-path character limitation of Windows. When the team runs "bower update", they receive the following error (and it breaks bower's updates of other components). Commenting out Modular Scale allows bower to run successfully.

Both mac

[2016-04-12 20:45] christianmagill opened #123 "Responsive Scales"
I love the idea of this library but I'm getting tripped up with the responsive scales.

It seems to me that regardless of the ratio or the sizes selected the values start out at the same size and have to work there way up to the difference.

I've made an example here:

http://www.sassmeister.com/gist/69d08ddd7e085e2ff09b22beb1659969

Regardless of the $ms-range which controls the responsiveness, s

[2016-04-12 21:08] scottkellum commented on #123
Hi @christianmagill,

The thing that defines the size contrast in your scale is the ratio. Currently you have it set up with a ratio of `1` to `1.5` and you’re not seeing a difference between `h1` and `p` sizes because a ratio of `1` indicates no scaling.

So the ratio is a multiplier, `1 * $base` is going to result in the same value, `$base`, but `1.5 * $base` will result in a higher number.

I r

[2016-04-13 01:14] christianmagill commented on #123
Thanks for the insight! So does this ratio then negate the ratio set by $ms-ratio?

Is there any way to maintain the main ratio but increase the overall size of the items as the browser expands?

[2016-04-13 01:25] scottkellum commented on #123
Yes it does override `$ms-ratio`

If you are using relative units, change the font size on your `body` element. This plugin uses [this method for scaling](http://madebymike.com.au/writing/precise-control-responsive-typography/) but you can scale based on breakpoint as you see fit.

[2016-04-13 21:29] scottkellum commented on #123
@christianmagill did this resolve this issue for you? I’m going to close it out.

[2016-04-13 21:29] #123 closed, assigned to nobody

[2016-04-13 21:32] christianmagill commented on #123
Yes, I may create a similar mixin that accepts a multiplier to get what I'm after, but I do like the ability to change the ratio as needed as well. Thanks!

[2016-04-14 11:05] rootical commented on #122
`git config core.longpaths true` should help

[2016-04-15 20:24] andrejpavlovic commented on #122
Why include test folders _test-node-sass_ and _test-compass_ in the bower package?

[2016-04-15 20:29] scottkellum commented on #122
@andrejpavlovic that would be a mistake, sorry, I don’t use Bower to manage my packages. I’ll audit all the things for the 3.0 release.

[2016-04-18 14:04] vdecree commented on #122
I am getting the same error on Windows, @rootical suggestion failed to help me get it working. If anyone has anymore suggestions, it'd be appreciated.

[2016-04-18 14:55] alanontheweb commented on #122
It didn't work for us either. When is 3.0 being released? I think the issue could be remedied if those includes were no longer there. As of right now, modular scale is breaking our bower update on windows, and we have to disable it temporarily for packages to download properly. Clearly not a solution.

[2016-04-18 15:41] scottkellum commented on #122
Y’all are welcome to PR a patch if you can find a bug fix and I can push and update to 2.x. I don’t have much time to work on this at the moment but will always make time for community patches.

Things will be out when they are ready.

[2016-04-18 20:57] scottkellum commented on #122
Appreciate the patch @chrisuehlinger! Should be merged and ready to go @alanontheweb, let me know if this fixes the issue.

[2016-04-18 21:00] alanontheweb commented on #122
Thanks guys! @scottkellum @chrisuehlinger I'll let you know.

[2016-04-18 22:44] alanontheweb commented on #122
Hey guys, both the Windows users on my team have confirmed it's working! Thanks again for the help. @chrisuehlinger @scottkellum

[2016-04-19 09:18] vdecree commented on #122
Thank you for this. It's much appreciated.

[2016-05-07 06:47] #122 closed, assigned to nobody

[2016-05-10 14:26] dawidvdh opened #126 "Deprecated Rules"
I have recently upgraded to node-sass 3.7.0 and now recieve the following when i compile with webpack:

Container#eachRule is deprecated. Use Container#walkRules instead.
Container#eachDecl is deprecated. Use Container#walkDecls instead.
WARNING: Unfortunately, you need Compass to use non-integer exponents

Backtrace:
    node_modules/modularscale-sass/stylesheets/modular-scale/_pow.scss:13, in fu

[2016-05-10 18:25] scottkellum commented on #126
@dawidvdh Are you using non-integer values in your `ms()` functions? They will not work and have not worked in this version of modular-scale. If you previously had Compass compile your Sass then that’s why it worked before.

3.x will be better here. I feature detect for a pow function so you can add on [mathsass](https://github.com/terkel/mathsass/) if you need to use non-integer exponents.

[2016-06-07 13:44] jackmcconnell opened #127 "Variable outputs ms function, not value"
Pretty sure this isn't a bug with modular scale but wanted to ask here to see if you can help.

I have a variable defined like so: `$primary-margin: ms(6);`
I use it like this in my Sass files: `margin-bottom: $primary-margin;`
When the Sass compiles to CSS however, it looks like this: `margin-bottom: ms(6);`

Naturally, it should be outputting a value (px, rem, em, or %) though. I've tried:
`marg

[2016-06-07 14:38] scottkellum commented on #127
@voltronik It sounds like the plugin is not installed properly and the `ms()` function is not found in your stylesheet. When a Sass function is not available it outputs the function as you see it.

What method did you use to install modular scale?

[2016-06-07 14:47] jackmcconnell commented on #127
Hi @scottkellum - thanks for getting back to me.
I used Bower via CodeKit. Just checked and the plugin is up to date (v2.1.3 according to CodeKit).

I'm referencing the file in my style.scss file like so:
`@import "../../bower_components/modular-scale/stylesheets/modular-scale";`

I then have a variables.scss file that has `$primary-margin: ms(6);` in it, referenced after the above import.
I then

[2016-06-07 14:51] scottkellum commented on #127
Hm, that sounds like a Sass bug then, Sass should be parsing that as a function.

edit: I’m chatting with some people to figure out where this issue is.

[2016-06-07 15:00] jackmcconnell commented on #127
Thanks!

[2016-07-24 22:26] scottkellum commented on #126
Closing as this thread seems to be inactive. If you are still having this issue please reopen @dawidvdh

[2016-07-24 22:26] #126 closed, assigned to nobody

[2016-07-24 22:26] #127 closed, assigned to nobody

[2016-07-24 22:56] scottkellum opened #128 "3.0 Release checklist"
- [x] Check latest version of Ruby Sass compatability
- [x] Check latest version of LibSass compatability
- [x] Check Compass distribution
- [ ] Check Bower distribution
- [ ] Check Eyeglass distribution (#114)
- [ ] Check sache.in connection

[2016-07-27 02:31] rich-martinez opened #129 "modular-scale gem outputting different values than modularscale-sass node package"
I recently switched from using the gem (version 2.0.6) to using the node package (2.1.1), and that is when I noticed this difference.

With these MS variables defined:

[code]

Using the gem I get the following:

[code]

Using the node package I get the following:

[code]

Does it has something to do with the #75 , since only negative values seem to be affected?  If so, is there a work around? Wha

[2016-08-07 05:27] musm opened #130 "Would be useful to include sass for the example `See a responsive modular scale in action.`"
Would be helpfull as documentation to include the SASS for the example "[See a responsive modular scale in action.](http://lab.scottkellum.com/ms-respond.html)" .

[2016-09-14 20:51] ghetolay commented on #121
I think something like [this comment](https://github.com/modularscale/modularscale-sass/issues/121#issuecomment-202464919) could be part of the readme or some docs.

I had trouble to understand ms-respond() but now it's clear so those explanations should be more visible.

[2016-11-15 12:40] OllieBrkr opened #132 "Pixel Rounding"
Is there a reason why we're rounding to whole pixel values (`_round-px.scss`)?

To be it seems contradictory to using a modular scale in the first place. From some basic checking it doesn't seem like Chrome, Firefox or Safari will round values automatically so I can't see it being a consistency issue.

Is there something I'm missing? Would love some clarification on this. Thanks!

[2016-11-15 14:03] scottkellum commented on #132
Hey @OllieBrkr it helps keep output as minimal as it needs to be. For 2x screens I can see some advantages of rounding to `.5` instead of whole numbers but the irregularity across all devices makes me think rounding to the nearest pixel, as the smallest consistent unit on all devices, is appropriate.

I tend to recommend using modular scale with em or rem as the relativity of those units tends to

[2016-11-15 14:30] #132 closed, assigned to nobody

[2016-11-15 14:35] OllieBrkr commented on #132
Hey @scottkellum, thanks for the fast response :)

Makes sense to me. Just makes me a little sad how specific modular-scale lets us be in terms of how fonts relate to each other, yet rounding them removes a fair amount of that accuracy.

[2016-11-15 16:56] scottkellum commented on #132
Yeah I get that, it’s kinda false accuracy though as browsers do the rounding anyway.

[2016-12-03 10:05] gfellerph opened #133 "Non-integer values with libsass"
Any chance of getting doubles to work in libsass?

The following line:
`font-size: ms(1.5, $golden);`

generates the same output as this one:
`font-size: ms(2, $golden);`

[2016-12-03 10:43] gfellerph commented on #133
Never mind, got it to work by installing https://github.com/terkel/mathsass and importing it before the modularscale-sass node_module. Think this might help someone else in the same situation (modularscale-sass checks the existence of the **pow(x, y)** function and defaults back to integers only if it does not exist. mathsass provides this function).

For the record, I'm using the following setup:

[2016-12-11 15:35] strarsis commented on #133
This may be also related: https://github.com/modularscale/modularscale-sass/issues/112

[2016-12-22 00:36] bbohling opened #134 "Bower and NPM name difference"
We have a stylesheet/component that uses modularscale-sass that has worked as a bower component for a while now. However, now I want our component to be accessible via npm as well. The issue is that our stylesheet imports modularscale-sass as such:

[code]

Which works fine when it is installed via Bower. However, when it is installed via NPM that import statement would have to be modified to:

[c

[2016-12-29 21:10] strarsis commented on #134
Instead hardcoding the paths, it may be advisable to use paths relative to modules folders
(e.g. node_modules, bower_components) and instead use a proper import loader.

For ruby sass and raw node sass or sassc, [sass-include-paths](https://www.npmjs.com/package/sass-include-paths) could be used.
For node sass and node sass + eyeglass, also a custom importer could be used.

[2017-01-02 15:23] strarsis opened #135 "v2.x and v3.x"
@scottkellum: With version 2.x I have issues with pow(...) (see https://github.com/modularscale/modularscale-sass/issues/112).

Version 3.x doesn't seem to be ready/stable yet and is unreleased,
also it seems that in v3.x ms-respond(...) sometimes doesn't output anything for 1 as first argument.
More examples would be nice, like how to set the margins for paragraphs or defining a matching line-hei

[2017-01-27 16:15] johnstonian commented on #127
i have experienced the same issue. was the bug figured out? if so, what is the fix?

thank you!

[2017-03-22 07:58] mabar commented on #135
It seems like the package developer is no more active. I will probably rewrite 3.x version in next months.

[2017-03-22 13:23] scottkellum commented on #135
@mabar feel free to submit PRs, lots of life stuff happening in the past year, apologies for the delay.

[2017-03-28 17:08] gabelloyd commented on #130
This link seems to no longer work, but [this file in the repo](https://github.com/modularscale/modularscale-sass/blob/2.x/test-compass/sass/style.scss) is equally helpful as a reference.

[2017-04-02 00:10] #114 closed, assigned to nobody

[2017-04-02 01:14] #133 closed, assigned to nobody

[2017-04-02 12:49] scottkellum commented on #135
I’m launching tonight @strarsis @mabar

[2017-04-02 13:47] scottkellum commented on #134
I’m gonna close this without action, it’s unfortunate the name was already taken in NPM but that’s what I get for using a common term instead of a unique name.

[2017-04-02 13:47] #134 closed, assigned to nobody

[2017-04-02 21:25] #135 closed, assigned to nobody

[2017-04-02 21:31] scottkellum commented on #130
Updated in the readme

[2017-04-02 21:31] #130 closed, assigned to nobody

[2017-04-02 21:31] scottkellum commented on #129
Should be fixed, 3.0 is a major overhaul

[2017-04-02 21:31] #129 closed, assigned to nobody

[2017-04-02 21:32] scottkellum commented on #93
3.0 is out which should fix things, please ping this issue again if problems persist.

[2017-04-02 21:32] #93 closed, assigned to nobody

[2017-04-02 21:51] #128 closed, assigned to nobody

[2017-04-03 17:54] christianhg opened #136 "Wrong import path"
Trying out v3 using webpack the `@import '~modularscale-sass/stylesheets/modular-scale';` path stated in the README is wrong. It fails with `File to import not found or unreadable`.

`@import '~modularscale-sass/stylesheets/modularscale';` worked though.

[2017-04-03 17:59] christianhg opened #137 "Undefined operation: pow"
Trying out v3 (with webpack and getting:

[code]

It looks like the `pow` function is not defined anywhere.

[2017-04-03 18:12] scottkellum commented on #137
Thanks, looking into it

[2017-04-03 18:12] scottkellum commented on #136
Thanks, looking into it

[2017-04-03 18:18] #136 closed, assigned to nobody

[2017-04-03 18:26] scottkellum commented on #137
Sorry about that @christianhg and thanks for pointing these issues out! Should be fixed now.

[2017-04-03 18:26] #137 closed, assigned to nobody

[2017-04-03 19:07] christianhg commented on #137
No problem at all! Good job on fixing it so promptly!

[2017-04-04 09:46] mixxorz opened #138 "ms(0) returns the 1st value in the scale instead of the 0th"
Code
[code]

Output
[code]

[2017-04-04 11:18] scottkellum commented on #138
Thanks @mixxorz, I’m unable to replicate this issue, can you provide more info as to how you are running modular scale? Are you using ruby-sass, Compass, libsass, eyeglass, node-sass, and what version numbers?

[2017-04-04 12:29] wagich commented on #138
I'm getting the same results using a minimal repro with the following gulpfile
[code]

Running nodejs 6.9.1 and gulp-sass@3.1.0 which uses node-sass@4.2.0

[2017-04-04 13:50] scottkellum commented on #138
Thanks, I am able to replicate and will fix soon

[2017-04-04 14:08] scottkellum commented on #138
Fixed, thanks y’all for the report!

[2017-04-04 14:08] #138 closed, assigned to nobody

[2017-04-04 15:02] mixxorz commented on #138
Wow! Thanks for the really fast response and fix!

[2017-04-29 13:47] mg901 opened #140 "Multiple values support"
Hi guys! I want to say thanks for the great thing!)))
Maybe I did not quite understand how to use the updated modular-scale, but I do not remember how to add multiple values? [As here](http://www.modularscale.com/?20,50&px&1.333).

Thank you in advance

[2017-04-29 14:11] mg901 commented on #140
Already figured out. Sorry for disturbing.

[2017-04-29 14:11] #140 closed, assigned to nobody

[2017-05-10 11:38] ThePeach opened #141 "Eyeglass 1.2.1 incompatibility"
I'm using eyeglass 1.2.1 and modularscale-sass 3.0.2 and I'm getting the following error message in the console:

    The following modules are incompatible with eyeglass 1.2.1:
      modular-scale needed eyeglass ^0.6.2

😭

unless I'm doing something extremely stupid here :)

*[edit]* I've also noticed that one of the latest changes (renaming from `modular-scale` into `modularscale` for eyeglass)

[2017-06-08 16:33] #141 closed, assigned to nobody

[2017-06-16 13:31] ligne13 opened #143 "modularscale with breakpoints generate the same values for each breakpoint"
Hi,

I have this setup :
[code]

Then I use :
[code]

but the output CSS gives the same font-size value for the two breakpoints :
[code]

Only the 1.125 ratio is used...

What am I doing wrong ?

thanks

[2017-06-19 13:35] ligne13 commented on #143
It seems that the ms-respond function does not work as expected if there are only 1 breakpoint defined in the $modularscale variable, like in my example.
Can you confirm / fix ?

thanks

[2017-06-21 13:13] scottkellum commented on #143
@ligne13 Hey I’m running into a few problems implementing this.
1) Things are currently implemented in a way where the base is independent of the breakpoints meaning you don’t have to tie your base to a particular breakpoint. This is because ratios gain more meaning at larger breakpoints so the default often doesn’t make sense as the first breakpoint.
2) The code doesn’t know ahead of time how man

[2017-09-27 07:08] hansspiess opened #144 "Throws warning "Unescaped multiline strings are deprecated and will be removed in a future version of Sass.""
When used with jekyll, ms throws the following:

Unescaped multiline strings are deprecated and will be removed in a future version of Sass.
To include a newline in a string, use "\a" or "\a " as in CSS.

Althrough this is no blocker, maybe it can be fixed.

[2017-09-27 13:33] scottkellum commented on #144
Thanks! should be fixed now

[2017-09-27 13:33] #144 closed, assigned to nobody

[2017-09-29 23:18] wagonmonster commented on #143
HI, I'm having the same issue

**I have:**

$modularscale: (
  base: 18px,
  ratio: 1.2,
  425px: (
     base: 24px,
	 ratio: 1.33,
  ),
  2345px: (
    base: 30px,
    ratio: 1.6,
  ),
);

**Then**

$font-base:ms(0);

**And**

font-size:$font-base;

But, no matter what, I always get....

body {
    font-size: 18px;
}

Any updates?

[2017-09-30 01:08] scottkellum commented on #143
Thanks @wagonmonster for the comment, It’s a slightly different issue but good news is I’ve got a solution for you!

Check out this pen: https://codepen.io/scottkellum/pen/2f9f05cf8d6b7aff551fcd72e78b2a0c?editors=0100

You need to use `@include ms-respond(font-size,0);` instead of using the `ms(0)` function and it’ll work for you.

[2017-09-30 01:09] scottkellum commented on #143
I’m going to close this issue. I don’t plan on changing the behavior.

[2017-09-30 01:09] #143 closed, assigned to nobody

[2018-02-28 16:48] strarsis opened #148 "ms-respond for shorthand?"
E.g. `padding-top` and `padding-bottom` should get the value assigned, but `padding-left` and `padding-right` should be `0`, can `ms-respond` be used for a `padding` shorthand instead using it twice, for `padding-top` and `padding-bottom`?

[2018-02-28 17:02] strarsis opened #149 "adjust-leading-to"
Is there an equivalent to `adjust-leading-to` in [Compass Vertical Rhythm](http://compass-style.org/reference/compass/typography/vertical_rhythm/)?

[2018-02-28 18:50] scottkellum commented on #149
Thanks for the issue but I have no plans to implement this or anything similar at this time. While modular scales are very helpful in typesetting the scope of this project is to be used as a ruler not build it as a typesetting tool. I’m working on another project to address typesetting but if you’re a big fan of vertical rhythm you might be disappointed as I’ve never really cared for managing it.

[2018-02-28 18:50] #149 closed, assigned to nobody

[2018-02-28 18:51] scottkellum commented on #148
Thanks for the issue, this would be really nice. I can’t think of a clean way to do this off the top of my head but I’ll think about it.

[2018-02-28 19:29] strarsis opened #150 "No output?"
@scottkellum:
[code]

But there is no `padding` in `<article>`.

[2018-03-01 00:57] scottkellum commented on #150
@strarsis You’ll need to set breakpoint settings for this to work: https://codepen.io/scottkellum/pen/xYMqym

[2018-03-01 00:57] #150 closed, assigned to nobody

[2018-03-01 01:01] strarsis commented on #150
@scottkellum: Thanks! And if I want to start without any breakpoints (e.g. mobile first) –
how have I configure `$modularscale` to get output for one single strand+ratio?

[2018-03-01 12:43] scottkellum commented on #150
@strarsis until you have breakpoints I don’t recommend you use ms-respond. Also note it doesn’t work like regular breakpoints and creates a fluid transition between sizes instead of jumps in sizes and is not intended for use inside of media queries.

[2018-03-01 13:17] strarsis commented on #150
So `ms-respond` is for text/typography, rather not for properties like `padding`/`margin`?

[2018-03-01 14:27] scottkellum commented on #150
No it’s for everything but you’ll need to add breakpoints in the syntax documented in order for it to work

[2018-03-05 14:17] strarsis opened #151 "Release to npm?"
When will 3.x be released to npm? Apparently the 2.x is latest version available on npm.

[2018-03-05 14:47] scottkellum commented on #151
Looks up to date to me: https://www.npmjs.com/package/modularscale-sass

[2018-03-05 15:24] #151 closed, assigned to nobody

[2018-05-24 12:05] davidhellmann opened #152 "Deprecation Warnings"
[code]

can u fix that? :)

![image](https://user-images.githubusercontent.com/764292/40484314-7285d9d4-5f5b-11e8-8eca-49482d9ffece.png)

[2018-05-24 14:39] scottkellum commented on #152
Thanks for the issue! I’ll look into this later

[2018-06-11 08:16] koko236 opened #154 "Combine breakpoints with threads"
Is it possible to combine breakpoints and threads? Ie. to have more than one thread defined for common breakpoints. Is so how should we use it?
1. Is there a convention for defining threads with breakpoints?
2. Is there a way to specify thread in ms-respond call?

[2018-06-11 09:39] koko236 commented on #154
Ok, for those wondering about this later. You can define whole separate configs, eg. `$modular-scale-A`,` $modular-scale-B` and refer to them in ms-respond using third param, eg. `ms-respond(font-size, 1, $modular-scale-A);`.

[2018-06-11 13:20] scottkellum commented on #154
Did you figure this out @koko236 ? Breakpoints are types of threads so in a sense they are already combined. If you wish to change the thread per breakpoint you will have to specify the Sass map you wish to use as the 3rd argument in the mixin like you stated.

[2018-06-12 08:09] koko236 commented on #154
@scottkellum I think so. For each thread I made a separate config object each with the breakpoints defined and I pass appropriate one as the third parameter to the `ms-respond()` call. So the breakpoints are defined INSIDE each thread.

[2018-06-12 11:29] #154 closed, assigned to nobody

[2018-06-17 23:48] scottkellum commented on #152
@davidhellmann Can you isolate this to this plugin? I’m unable to replicate it. It could be an issue with how exponents are implemented via mathsass or similar.

[2018-06-18 05:19] davidhellmann commented on #152
it’s within the pow.scss
i am at holidays at the moment and i have just my iphone with me.

[2018-06-18 15:51] scottkellum commented on #152
@davidhellmann What environment are you in and are you running any other plugins?

Also take your time and enjoy your holiday!

[2018-06-18 16:35] davidhellmann commented on #152
I use it within my boilerplate: http://baukasten.io and yes. other plugins are installed but no one uses the pow function

[2018-06-18 17:32] scottkellum commented on #152
@davidhellmann Thanks! It looks like your issue is here: https://github.com/davidhellmann/generator-baukasten/blob/master/generators/app/templates/___src/assets/css/______tools/_tools.function.pow.scss#L45

Modular scale looks for existing exponent logic and piggy backs on that. This allows people to use non-integer values in their scales IF they have support without overcomplicating the codebase

[2018-06-24 22:24] DamianPereira opened #155 "Implement a way to disable viewport-based typography in version 3 ($ms-fluid: false)"
This is a request for the return of an old feature, in version 2 you could use $ms-fluid: false to disable viewport-based typography. I'd like to retain multiple ratios for each breakpoint, without the resizing between.

This achieves the desired result, but it implies lots of repetition:

[code]

Maybe if the $ms-fluid can't be re-implemented I can make a new ms-respond-stepped() mixin that imple

[2018-06-25 13:02] scottkellum commented on #155
Thanks @DamianPereira I think this is a good addition and glad you found this feature useful. I expected people would switch to the workaround you posted but I’ll look into bringing back `$ms-fluid`

[2018-07-02 22:14] dnwhte opened #156 "Disable px rounding option"
Can you please add a settings option to disable the pixel rounding?

[2018-07-03 10:22] scottkellum commented on #156
@danwhite85 Can you give me a use case? My guess would be high resolution displays so would rounding to 1/4th or 1/8th of a pixel be better?

[2018-07-08 22:43] dnwhte commented on #156
Hi @scottkellum, we have some things that depend on the original unrounded pixel values. We also use PostCSS to convert our pixel values into rems.

An option to disable rounding or choose your own rounding would be great.

[2018-07-11 13:27] davidhellmann commented on #152
Hm, looks like u are right. Shame on me!

[2018-07-11 13:29] scottkellum commented on #152
no worries glad we found it!

[2018-07-11 13:29] #152 closed, assigned to nobody

[2018-07-19 19:08] johnstonian opened #157 "Output calculation as rem value"
I'm not sure this is an issue per se, but rather a feature request/question

Is there a way to ask for rem output when needed?

There are certain cases in which I'd like to be able to add a padding or margin value that is rem based instead of em based. Using ms(3) for example gives me the corresponding em value. Would be great if there was an option for something like ms(3, [em, rem, px]), with de

[2018-07-19 19:32] scottkellum commented on #157
Yup you can do this

In your settings use the units you want to use for the base, it takes any units so you can use miles if you want to:

[code]

Let me know if you need anything else

[2018-07-19 20:26] johnstonian commented on #157
Thank you @scottkellum! I should have asked about this a long time ago. Works like a charm!

[2018-07-19 20:26] #157 closed, assigned to nobody

[2018-09-28 01:34] scottkellum commented on #156
Fixed!

[2018-09-28 01:35] #156 closed, assigned to nobody

[2018-09-28 15:00] juliancalzada commented on #93
Hi, using 3.0.7 and I am still seeing this:

[code]

am i doing something wrong? here are my settings:

[code]

[2018-09-28 17:01] lmartins opened #159 "Both regular and non-conflict ms functions are returning raw output"
Hi,

Recently the library stopped working for me, and inspecting the generated CSS I've noticed that instead outputting a px value, the generated CSS now looks like this:

[code]

This happens using both `ms` and `ms-function`.

[2018-09-28 18:30] jmrieger commented on #159
Seconded this issue. We saw this pop up in our builds today.

[2018-09-29 11:50] leptest commented on #159
Same issue.  Seemed to break from version `3.0.6` ->`3.0.7`

[2018-09-30 12:07] buddye commented on #159
yea looks like  `modularscale-sass/stylesheets/modularscale/_function.scss` still calls it.
I had to manually import the latest release and edit line 15 of _function.scss:
`@return ms-pow($ratio, $v) * $base;`

[2018-09-30 14:38] scottkellum commented on #159
Sorry I didn’t realize people were using that as a standalone function as I didn’t document it as a feature. I will add it back in and plan better for phasing it out.

[2018-09-30 15:33] scottkellum commented on #93
@lockheartmac see #159

[2018-09-30 15:52] scottkellum commented on #159
Sorry about that y’all and thank you for alerting me to it! It’s fixed now in v3.0.8

[2018-09-30 15:53] #159 closed, assigned to nobody

[2018-09-30 16:14] leptest commented on #159
Thanks for the quick reply and fix @scottkellum

[2018-10-01 15:19] eburton opened #160 "Removal of ms-round-px causes build failure"
Most recent release removed the ms-round-px function, but there is still a ref to the function here:

https://github.com/modularscale/modularscale-sass/blob/ce76e5a60f1de2ddc273cc5050aa48e0e9a995e5/stylesheets/modularscale/_function.scss#L15

[2018-10-01 17:28] scottkellum commented on #160
Oof I really bungled this release. Thank you for the issue and I will fix as soon as I get home

[2018-10-01 23:18] scottkellum commented on #160
@eburton Can you check again and see that your issue is fixed with whatever package manager or process for updating modular scale you use?

Thanks!

[2018-10-02 08:18] eburton commented on #160
@scottkellum Looks good! Package manager is still picking up the old version, but I grabbed the latest commit and ran a test and it's not longer grumbling on SASS compilation.

Thanks for the quick response!

[2018-10-02 14:38] scottkellum commented on #160
@eburton what install method/package manager do you use so that I can investigate?

Thanks! Glad it’s working better

[2018-10-03 09:29] eburton commented on #160
@scottkellum just bower that seems to be misbehaving :)

`bower modularscale-sass#3.x.x mismatch Version declared in the json (v3.0.7) is different than the resolved one (3.0.8)`

[2018-10-03 14:02] scottkellum commented on #160
Thanks I’m going to leave this open until I can test and ensure Bower is behaving and I’ve done things right on my end

[2018-10-21 18:59] jakob-e commented on #89
...three years later ;-)

If this is still on for a future version I found a super fast° pow function:
https://github.com/xi/sass-planifolia/edit/master/sass/math.scss

° fast of course is relative and depends on compiler. My tests on LibSass (CodeKit)
handles 10,000 calculations in about 3 seconds.

If you want to limit the implementation to only include pow here is a stripped down version:
[code

[2018-11-02 03:52] haydenhancock opened #161 "SyntaxError on @import"
When trying to use the modularscale-sass npm package I receive the following error on a basic Gulp task.

[code]
My gulpfile.js is

[code]

My styles.scss is

[code]

I've also tried ```@import 'modularscale';``` as discussed in the documentation.

My package.json

[code]
I was able to get this to work using the 'Vanilla' install but I'd like to use the package. Has anyone else experienced this is

[2018-11-05 01:39] ianhobbs commented on #161
It breaks if i use bower package manager. So i'm doing vanilla* install as well.

*vanilla aka download manually.

[2018-11-05 02:05] scottkellum commented on #161
Thanks! It’s helpful to know this is an issue with Bower. I drafted a new release and hopefully it fixes the issue.

Please let me know if this fixes your issue.

[2018-11-05 02:11] scottkellum commented on #160
@eburton I drafted a new release, let me know if that fixed your issue. Thanks for your patience.

[2018-11-05 16:11] haydenhancock commented on #161
@scottkellum What's the best way to test this? Doesn't appear that 3.0.9 is available to me when installing via the command line.

On another note, it doesn't appear that Bower should be used anymore. Although they maintain it, they suggest using Yarn, Webpack, or Parcel. Is this something you have looked into?

Getting this updated to 3.0.9 on Yarn would be nice!

[2018-11-05 18:51] scottkellum commented on #161
@haydenhancock You can find it here: https://yarnpkg.com/en/package/modularscale-sass and it is distributed through NPM. I didn’t version up to 3.0.9 anywhere but Bower.

Bower uses git tags to version up while NPM and rubygems require a publish command be run. I bungled Bower due to publishing _before_ commuting changes (sorry about that).

Anyway, 3.0.8 everywhere else is the same as 3.0.9 for B

[2018-11-05 18:51] #160 closed, assigned to nobody

[2018-11-05 21:24] haydenhancock commented on #161
@scottkellum Thanks for the assistance. I switched to using Yarn and still receive the same error.

Below is my package.json file using Yarn:

[code]

[2018-11-06 00:10] scottkellum commented on #161
Interesting, thanks! I’ll investigate in a bit

[2019-01-11 02:38] dotboris opened #162 "Eyeglass v2.0.0 support"
I upgraded eyeglass to v2.0.0 and got the following error:

[code]

[2019-01-11 04:36] scottkellum commented on #162
Thanks for the bug report! I’ll look into this later this weekend

[2019-01-15 14:53] scottkellum commented on #162
Welp, life happens and am not finding the time to investigate this but bookmarked to fix when I have time to. Should be simple but I just can’t get to it now.

[2019-04-28 12:12] dotboris commented on #162
For reference here's the actual breaking changes in v2 https://github.com/linkedin/eyeglass/issues/192

It seems like they dropped node older node version (v4 & v5)

[2019-05-30 08:29] SergioV85 opened #164 "Deprecation warning"
After updating the project to Angular 8, and node.js to v.10, I'm started receive a lot of errors like that:
`
DEPRECATION WARNING on line 34, column 5 of node_modules/modularscale-sass/stylesheets/modularscale/_function.scss:
@elseif is deprecated and will not be supported in future Sass versions.
Use "@else if" instead.
   ╷
34 │     @elseif ($ms-base < nth($base,1)) {
   │     ^^^^^^^
   ╵
`

P

[2019-09-22 16:11] #162 closed, assigned to nobody

[2019-09-22 16:18] scottkellum commented on #164
Thanks for your patience, this has been fixed but I just pushed again as the last deploy didn’t catch everything. Hope that helps.

[2019-09-22 16:18] #164 closed, assigned to nobody

[2019-11-06 23:53] djmtype opened #165 "Not working for REM on media query"
If I define my scale like this:

[code]

Everything defined within 90rem is ignored.

[2019-11-11 10:37] baglio opened #166 "Can't make ms-respond to work"
I'm setting up a new project and I'd like to use the ms-respond mixin to have two breakpoint. The problem is that no matter how many breakpoints I put in the map, the mixin always returns the same value for each breakpoint:

## SCSS

[code]

## CSS output

[code]

[2019-11-11 21:48] scottkellum commented on #166
Thanks for the issue @baglio,

You need more than one breakpoint to make the respond mixin work. For example, one at 640px and another at 960px. The text will transition between these two points. If you wish to have it scale up from a viewport width of 0px, then 0px needs to be defined in your breakpoints as well.

[2019-11-11 21:49] scottkellum commented on #165
Thanks @djmtype, can you let me know what the CSS output is? Issue #166 may be related.

[2019-11-11 21:51] scottkellum commented on #165
Also, you may be interested in [Typetura.js](https://github.com/typetura/typetura.js) for even more control over how your typography responds to its context 💁‍♂️

[2019-11-11 21:52] scottkellum commented on #166
Also, you may be interested in [Typetura.js](https://github.com/typetura/typetura.js) for even more control over how your typography responds to its context 💁‍♂️

[2019-11-14 16:08] djmtype commented on #165
@scottkellum The CSS output is that ignores the media query breakpoint I assigned, 90rem in this case, and falls back to the default modularscale ratio I set up: base 1rem, ratio 1.25

I may be facing the same issue as #166 . I thought by specifying the default settings, that would already be understood as 0(px), and therefore redundant. I'll post back after I test.

Thanks,  but I was looking for

[2019-11-14 16:40] djmtype commented on #165
@scottkellum Just tested with the following setup below, and it doesn't work either. I also tried using px equivalencies.

I'm getting the same issue as pointed out in issue #166. I'll close this out and focus further discussion on #166.

[code]

[2019-11-14 16:40] #165 closed, assigned to nobody

[2019-11-14 16:51] djmtype commented on #166
I was trying to use REM, but the following does not work either:

[code]

The 1440px settings are simply ignored. No font sizes are being rendered for `@media (min-width: 1440px)`

[2019-11-15 06:14] scottkellum commented on #165
[It’s working for me here](https://codepen.io/scottkellum/pen/wvvQBpd?editors=1100). Looks like you’re missing a coma on the 3rd line after `ratio: 1.25`

[2019-11-15 06:19] scottkellum commented on #166
@baglio Did that info help?

[2019-11-18 11:51] baglio commented on #166
Yes, by setting a 0px breakpoint it does work, although to get there it uses some complicated CSS calc stuff, which I'm not confident using. Since I just wanted to have a different base font size for each of my breakpoint, I solved by setting the `base` keyword to 1rem instead of 16px, and then set a different font-size on the body for each breakpoint like so:

[code]

[2019-11-18 14:21] cbirdsong opened #167 "www.-less links to modularscale.com not redirecting"
Noticed that these aren't properly redirecting to the site:

- http://modularscale.com
- https://modularscale.com

[2019-11-18 16:49] scottkellum commented on #166
Thanks @baglio, glad it helped!

The complicated CSS calc stuff comes from this post by Mike Riethmuller: https://www.madebymike.com.au/writing/precise-control-responsive-typography/

You might have also heard the term CSS Locks, coined by Tim Brown and explained by Chris Coyier : https://css-tricks.com/css-locks/

Agreed, the calc function can be complicated. This is why I created typetura.js: ht

[2020-01-14 01:38] TXChetG opened #168 "No mixin named ms-respond"
One of the features I was most wanting to play with using this tools was the ability to include a responsive scale using a mixin. However the mixin is not found in my project. Which is super confusing because everything else with modularscale-scss appears to work as expected.

Versions:
- eyeglass 2.4.1
- modularscale-sass 3.0.1

I have used `@import "modularscale"` in my stylesheet, and set up my

[2020-01-14 21:38] scottkellum commented on #168
Can you check your version number again? The latest release of modularscale-sass is `3.0.10`

[2020-01-14 21:39] #166 closed, assigned to nobody

[2020-01-14 21:48] TXChetG commented on #168
My apologies, that seems to have just been a typo on my part. my `package.json` has:

`"modularscale-sass": "^3.0.10"`

[2020-04-12 15:37] dotboris opened #169 "Eyeglass v3 support"
Recently `eyeglass` has released it's `v3.0.0` version.

See: https://github.com/linkedin/eyeglass/blob/master/packages/eyeglass/CHANGELOG.md#300

Their breaking changes can be found here: https://github.com/linkedin/eyeglass/blob/master/packages/eyeglass/CHANGELOG.md#breaking-changes

I'm trying to upgrade to `eyeglass` 3.0.0 in my project, but I get the following error:

[code]

[2021-01-13 06:47] jLouzado opened #170 "modularscale.com & www.modularscale.com are redirecting to separate websites"
Hello,

This is what I'm seeing at the www:

![image](https://user-images.githubusercontent.com/2016685/104416107-34da2180-5599-11eb-99c9-bb2bd3bccdfb.png)

and at the bare domain:

![image](https://user-images.githubusercontent.com/2016685/104416163-52a78680-5599-11eb-979b-cfee19d62567.png)

[2021-01-14 08:48] jLouzado commented on #170
oh wow, they even go to the trouble of making fake books and generating fake comments 😓

![image](https://user-images.githubusercontent.com/2016685/104566157-442d9d80-5673-11eb-918c-c448cbbb8e42.png)

complete with fake customer support and lampshading what they're doing

![image](https://user-images.githubusercontent.com/2016685/104566229-57d90400-5673-11eb-8a1e-2eab34a8b32e.png)

[2021-01-18 07:32] jacksonrya commented on #168
Similar: `ms-respond` mixin doesn't output any CSS while `ms()` works fine. Difference: I'm not receiving any errors, so I assume the mixin is resolved, just broken?

[2021-01-19 23:31] scottkellum commented on #170
@tbrown 👆

[2021-05-25 14:05] joyheron opened #171 "Deprecation warnings after upgrading Sass when using `ms` Variable"
I just upgraded my Sass version to `1.33.0`, but now I have a lot of deprecated messages whenever I use the `ms` function within my code base. Since I use it in many different places in my code base, this occurs quite often. Is there any chance you could update your package so that these messages disappear?

[code]

[2021-05-26 01:41] scottkellum commented on #171
Thank you. I have not updated in a while and Sass functionality as well as CSS has come a long way over the years. It may be about time for a re-write to take advantage of the new Sass module system. My main focus has been another typography tool, Typetura, and it's been a while since I've done modular scale stuff.

[2021-05-26 08:43] spenno commented on #171
@joyheron: The same thing happened to me yesterday. Until this is updated, I have copied the `stylesheets/_modularscale.scss` Sass file and the `stylesheets/modularscale` folder into a `vendors` folder in my local source files and imported that version of the Sass file instead of the one in `node_modules`.

Then I updated the math divisions in three of the Sass partials to use Sass 1.33's new `mat

[2021-05-26 15:30] scottkellum commented on #171
@spenno Breaking changes are what Semantic Versioning and dependency lists are for. I may go ahead and do a major version bump.

Now that exponents are now native to the Sass that will simplify a ton of code. Might as well do a big re-write.

Note that I’ll likely make some changes to ms-respond in the process. Changes there may be breaking with that mixin, but I’ll try to avoid it. There have bee

[2021-05-26 20:02] scottkellum commented on #170
Dupe of #167

[2021-05-26 20:02] #170 closed, assigned to nobody

[2021-05-27 06:56] joyheron commented on #171
Thank you for looking into this!

[2021-05-28 23:34] strarsis commented on #171
Related to exponents in sass: https://github.com/modularscale/modularscale-sass/pull/113

[2021-06-22 01:04] robsonsobral commented on #171
Please, @spenno . How did you set the modular scale on your temp version?

[2021-06-24 19:36] scottkellum commented on #171
Status update: The thing holding this up now is the responsive logic

[2021-06-24 19:54] strarsis commented on #171
Does it make sense to prepare it for the upcoming CSS Container Queries?

[2021-06-24 19:59] scottkellum commented on #171
@strarsis Yes, part of the reason why I want to update it to output [Typetura](https://docs.typetura.com) styles instead of locks/clamp as an option. It would be easier with post-processing stylesheets as opposed to pre-processing as you have to be more explicit in pre-processing. Use cases like #148 are difficult to build a nice syntax around.

[2021-06-25 04:10] scottkellum commented on #171
I got things working and the syntax is going to be something like this:

[code]

I do not think I will support `clamp()` or locks. It will either be media queries, container queries, or [Typetura](https://docs.typetura.com/).

Related to issue #148

[2021-06-25 04:22] scottkellum opened #173 "Changes to responsive logic"
Raising a new issue to increase visibility and gain feedback. This stems from #171 but is not directly related to that issue.

New responsive syntax proposal:

[code]

CSS output:

[code]

This should be way more flexible that what existed before as it transforms the existing `step` function to match your contexts.

This will include output modes for [Typetura](https://docs.typetura.com), media qu

[2021-06-25 19:21] scottkellum commented on #173
PR associated with these updates: #172

[2021-06-25 22:15] scottkellum commented on #173
You can test it out here: https://github.com/modularscale/modularscale-sass/releases/tag/v4.0.0.rc1

[2021-06-25 22:16] scottkellum commented on #171
New release you can test out here: https://github.com/modularscale/modularscale-sass/releases/tag/v4.0.0.rc1

[2021-06-26 19:23] robsonsobral commented on #171
@scottkellum , hi!

I'm sorry, but I didn't get the expose of the `ms.$settings` map. Why not to use `with()` and make the settings private?

[code]

It can be "imported" once and forwarded already configured.

[2021-06-26 20:07] scottkellum commented on #171
@robsonsobral thanks Rob, I will definitely look into this approach. I do like the ability to change the settings throughout your style sheet as needed, so I might want to make this work with that functionality.

[2021-06-27 02:32] robsonsobral commented on #171
https://sass-lang.com/documentation/at-rules/forward#configuring-modules

[2021-07-02 20:01] scottkellum commented on #171
Thanks for your feedback @robsonsobral, I drafted a new release here: https://github.com/modularscale/modularscale-sass/releases/tag/v4.0.0.rc2

[2021-07-05 15:17] robsonsobral commented on #171
@scottkellum , I've been really busy, but I would like to do some tests before the release, if you don't mind.

[2021-07-05 23:20] scottkellum commented on #171
@robsonsobral I understand but I am also really busy. I would love a PR here if anyone has the time and is interested in contributing.

If you do contribute please keep any configuration and dependencies to a minimum.

If no one can help I may release next week without tests.

[2021-07-05 23:32] scottkellum commented on #171
To clarify, @ everyone reading this.

I am looking for help to write tests and ensure distribution channels are solid before release.

[2021-07-05 23:59] robsonsobral commented on #171
This lib/addon/plugin/toolkit/whatever has been a constant part of my work for years. So, I gonna to give it back to the community.

[2021-10-25 15:58] robsonsobral opened #175 "On CSS locks and `clamp()`"
(ideas for version 4)

Usually, developers get designs for the narrower and wider screens only. Like, from `320px` to `1280px`. CSS locks allow the control of the pace the values change, which can't be done using `clamp()`. We can be sure the greatest value of a property will be reached at the limit of the lock.

Another point to keep in mind is the direction a property can change. For example, de

[2021-10-25 21:00] scottkellum commented on #175
My plan was to throw both locks and clamp out in favor of my other project, [Typetura](https://docs.typetura.com/).

[2021-10-25 21:11] scottkellum commented on #175
A bit more about why:

To your first point, locks and clamp could both control pacing but every pacing point would increase the complexity. With Typetura you can control pacing with a CSS easing curve. There is also the issue of different default browser font sizes as they throw off the font size calculation in locks and clamp. With Typetura there is still an alignment with your breakpoints as aut

[2021-10-26 01:41] robsonsobral commented on #175
I gonna read about Utopia. Never heard of it. I need to compare everything.

---

I'm sorry if I overstep a business decision!

[2021-10-26 01:57] scottkellum commented on #175
Oh no worries. I want the best technique and I genuinely think Typetura is it.

[2021-10-26 02:49] robsonsobral commented on #175
Starting to dig on [Bézier curves](https://kittygiraudel.com/2014/10/27/cubic-bezier-representation-in-sass/).

[2021-11-22 19:59] gvjacob commented on #171
Sharing a fairly low-effort workaround that works well for me. Install [`sass-migrator`](https://sass-lang.com/documentation/cli/migrator) and put the following script in your `package.json`

[code]

On every `npm install`, the script will convert any `/` divisions to `math.div` in the plugin's output files. Some context to `sass-migrator` [here](https://sass-lang.com/documentation/breaking-change

[2022-01-04 10:32] joyheron opened #176 "4.x - Importing modular scale using ratio string results in an error"
I'm testing out the new modular scale implementation in my project, and I've been pretty successful in migrating my code from`modularscale-sass` in version 3.x to the new 4.x branch, but I currently have an issue with loading the ratio.

I've tried out both methods for importing and overriding the settings:

*METHOD 1:*
[code]

or

*METHOD 2:*
[code]

This appears to me to be the desired syntax ba

[2022-01-04 10:39] joyheron commented on #171
@scottkellum Thank you for your work on this!

I have been testing out the new `4.x` implementation, and for the most part it seems to work (I made an Issue for the only error that I have: https://github.com/modularscale/modularscale-sass/issues/176 )

One things that I noticed is that the migration from `3.x` to `4.x` is a bit tricky because a CSS rule like `width: ms(2)`  (which needs to be repl

[2022-06-26 11:48] #169 closed, assigned to nobody